<div class="bg-img">
    <div class="container h100">
      <div class="d-flex flex-column text-center justify-content-center align-items-center h100">
        <h1>IKIGAI</h1>
        <p>“SMALL WONDERS has enriched the lives of families, students and their communities by providing
            quality education for over 18 years. Today, the network of WONDERIANS extends in the various
            parts of the city, continuing our commitment to excellence, innovation, and growth.
        </p>
      </div>
    </div>
</div>

<div class="shoonya-content">
    <div class="title_sec">
        <h2>OUR WAY: The cornerstones to all that we do</h2>
    </div>
    <div class="d-flex flex-column text-left justify-content-center align-items-center h100">
        <div class="container row mb-4">
        <div>
         <div class="circle justify-content-center  align-items-center ">
            <img src="/assets/img/CuriosityCreativity.png" alt="Curiosity & Creativity" width="100%">
         </div>
        </div>
        <div class="content col-10 pt-2">
            <h4>CURIOSITY & CREATIVITY</h4>
            <p>Students remain creative in their
                learning and expression, using
                imagination and insight to
                produce original and useful ideas
                and solutions.
            </p>
        </div>
        </div>
        <div class="container row mb-4">
            <div>
             <div class="circle justify-content-center  align-items-center ">
                <img src="/assets/img/ActiveParticipation.png" alt="Active Participation" width="100%">
             </div>
            </div>
            <div class="content col-10 pt-2">
                <h4>APPLICATION OF EXPRESSION AND SELF-DIRECTEDNESS</h4>
                <p>Students are increasingly able to transfer
                    curricular content and skills to new
                    learning. They effectively represent and
                    express their ideas in many genres and
                    media and to varied audiences. Students
                    are self -aware and reflective and are
                    active participants in their own learning
                    and development as people.
                </p>
            </div>
            </div>
            <div class="container row mb-4">
                <div>
                 <div class="circle justify-content-center  align-items-center ">
                    <img src="/assets/img/CultureOfTrust.png" alt="Culture Of Trust" width="100%">
                 </div>
                </div>
                <div class="content col-10 pt-2">
                    <h4>CULTURE OF TRUST</h4>
                    <p>Students entrust themselves and others
                        by understanding emotions and needs of
                        their own and others. They demonstrate
                        respect and empathy for others.
                    </p>
                </div>
                </div>
                <div class="container row mb-4">
                    <div>
                     <div class="circle justify-content-center  align-items-center ">
                        <img src="/assets/img/SustainableWayOfLiving.png" alt="Sustainable Way Of Living" width="100%">
                     </div>
                    </div>
                    <div class="content col-10 pt-2">
                        <h4>SUSTAINABLE WAY OF LIVING AND RESILIENCE</h4>
                        <p>Students are prepared to make informed
                            and take ethical decisions, taking
                            responsibility for their own actions and
                            becoming positive and helpful members
                            of their communities. Students are
                            always willing to be flexible,
                            independent, and courageous in the
                            pursuit of learning and persevere in the
                            face of challenges.
                        </p>
                    </div>
                    </div>

                    <div class="container row mb-4">
                        <div>
                         <div class="circle justify-content-center  align-items-center ">
                            <img src="/assets/img/LearningEverywhere.png" alt="Learning Everywhere" width="100%">
                         </div>
                        </div>
                        <div class="content col-10 pt-2">
                            <h4>LIFELONG LEARNING: ANYWHERE, EVERYWHERE AND ANYTIME</h4>
                            <p>Students are prepared to meet the
                                challenges of a demanding education and
                                continue the path of lifelong learning.
                                They develop skills in critical and logical
                                thinking, using analysis and evaluation to
                                come to reasoned judgments right from
                                the beginning.
                            </p>
                        </div>
                    </div>

    </div>
</div>
