<div class="input-form-section">
  <div class="container">
    <h3 class="text-center">Partner with Us</h3>
    <img src="/assets/img/footer-background.png" alt="input-form-img" />
    <p class="text-center sub-heading mt-4">
      If you are interested to learn more about HEI schools, please fill in the
      form
    </p>
    <form>
      <div class="form-group">
        <label for="companyName">Company/Organization</label>
        <input type="text" class="form-control" id="companyName" />
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" />
      </div>
      <div class="row justify-content-center mt-5">
        <button type="submit" class="btn mbtn text-center">Submit</button>
      </div>
    </form>
  </div>
</div>
