<div class="input-form-section">
  <div class="container">
    <div class="text-center own-heading test-h my-lg-3">A Future of Endless Possibilities
    </div>
<!--    <img src="/assets/img/footer-background.png" alt="input-form-img" />-->
    <p class="text-center sub-heading mt-3 mb-5">
      If you are interested to learn more about Small Wonders franchise, please fill in the
      form
    </p>
    <form class="form-container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInputf" placeholder="name@example.com">
              <label for="floatingInputfName">First name</label>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInputlName" placeholder="name@example.com">
              <label for="floatingInputlName">Last name</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
              <label for="floatingInputEmail">Email</label>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInputPhone" placeholder="name@example.com">
              <label for="floatingInputPhone">Phone</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInputCity" placeholder="name@example.com">
              <label for="floatingInputCity">City you are interested in</label>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInputState" placeholder="name@example.com">
              <label for="floatingInputState">State</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInputComments" placeholder="name@example.com">
              <label for="floatingInputComments">Comments</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end mt-5">
        <button type="submit" class="btn mbtn text-center">Submit</button>
      </div>
    </form>
  </div>
</div>
