<!-- used for curriculum section on home page -->
<div>
  <div class="curr-box">
    <a href="/{{routePath}}" aria-current="page"
      ><figure><img [src]="imgSrc" class="card-img" /></figure>
      <h3>{{ title }}</h3>
<!--      <div class="text-center">-->
<!--        <img src="/assets/img/card-divider.png" class="divider-img" />-->
<!--      </div>-->
    </a>
    <div class="curr-box-desc">
      <p>
        {{ content }}
      </p>
      <div class="curr-box-desc-footer">
        <div>Age: <span>{{ ageInterval }}</span></div>
<!--        <div>Time: <span>9:00-11:00</span></div>-->
      </div>
    </div>
  </div>
</div>
