@import "../../../assets/styles/variables.scss";

.franchise-redirects {
  padding: 3em 0;
}

.circle {
  height: 7em;
  width: 7em;
  background-color: $button-primary;
  border-radius: 50%;
  display: block;
}

.block-heading {
  width: 80%;

  p {
    font-size: 2em;
    background: $background-light-grey;
    font-weight: 700;
    text-align: center;
    padding: 0.25em;
  }
}

.block-text {
  width: 80%;
  text-align: center;
}

.block-redirect-btn {
  background: $button-primary;
  color: $white-primary;
}

@media only screen and (max-width: 600px) {
  .franchise-redirects {
    .block-heading {
      width: 100%;
    }
    .block-text {
      width: 100%;
    }

    .col-md-4 {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}



@media only screen and (min-width: 400px) and (max-width: 600px) {
  .franchise-redirects {
    .block-heading{
      p {
        font-size: 1.5em;
      }
    }
    .block-text{
        font-size: 1em;
    }
    .btn {
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: 400px) {
  .franchise-redirects {
    .block-heading{
      p {
        font-size: 1.25em;
      }
    }
    .block-text{
        font-size: 0.8em;
    }
    .btn {
      font-size: 0.8em;
    }
  }
}
