<!-- Hero -->
<section class="">
  <div class=" act-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="act-imgg">

        </div>
      </div>
    </div>
  </div>
</section>



<!-- where -->
<section class="act-sec1 my-5">
  <div class="container txt-c">
    <div class="row act-sec">
      <h2>Where will you go?</h2>
      <p class="para">Mark Twain said "Twenty years from now you will be more disappointed by the things yo did not do
        than by the ones you did. So throw off the bowlines, sail away from the safe harbor. Catch the trade
        winds in your sail".
      </p>
    </div>
    <div class="row act-sec2 pb-4">
      <div class="col-lg-1 act-box2"></div>
      <div class="col-lg-3 act-box1">
        <img src="../../../assets/image/act-icon1.png" />
        <h5 class="ped-lh">Explore</h5>
      </div>
      <div class="col-lg-1 act-box2"></div>
      <div class="col-lg-3 act-box1">
        <img src="../../../assets/image/act-icon2.png" />
        <h5 class="ped-lh">Dream</h5>
      </div>
      <div class="col-lg-1 act-box2"></div>
      <div class="col-lg-3 act-box1">
        <img src="../../../assets/image/act-icon3.png" />
        <h5 class="ped-lh">Discover</h5>
      </div>
    </div>
  </div>
</section>

<!-- image hover -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="act-img">
        </div>
        <div class="act-box3">
          <h5 class="act-h">Curriculum</h5>
          <p class="act-p para">We take an inquiry based experiential learning approach to promote cognitive, social and emotional development and ensure our students have a solid foundation for lifelong learning. We ensure students master developmental milestones in a safe and conducive learning environment. 


          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="act-img2">
        </div>
        <div class="act-box3">
          <h5 class="act-h">Drama and Theatre</h5>
          <p class="act-p para">Drama classes enhance creativity and confidence through role-playing, improvisation, and performances. Students improve communication, teamwork, and self-expression while enjoying the transformative experience of bringing characters and stories to life on stage</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="act-img3">
        </div>
        <div class="act-box3">
          <h5 class="act-h">Sports</h5>
          <p class="act-p para">Our sports program develops discipline, teamwork, and leadership through football, basketball, cricket, volleyball, archery, shooting, swimming, badminton, and more. Expert coaches train students, fostering fitness, perseverance, and a passion for healthy competition.</p>
        </div>
      </div>
    </div>

    <div class="row py-5">
      <div class="col-lg-4">
        <div class="act-img4">
        </div>
        <div class="act-box3">
          <h5 class="act-h">Instrumental Music</h5>
          <p class="act-p para">Students learn instruments like keyboard, guitar, and drums, exploring rhythm, melody, and theory. This program nurtures patience, coordination, and musical creativity, helping students express themselves through instrumental art.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="act-img5">
        </div>
        <div class="act-box3">
          <h5 class="act-h">Clubs</h5>
          <p class="act-p para"> Wonderian’s have the opportunity to choose from a range of clubs tailored to their interests and aspirations.  Clubs are designed to enhance proficiency in skills that students wish to master. With expert-led guidance, each club provides a highly targeted learning experience.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="act-img6">
        </div>
        <div class="act-box3">
          <h5 class="act-h">Dance and Yoga</h5>
          <p class="act-p para">Students explore traditional and modern dance styles, learning choreography while improving physical coordination, flexibility, and discipline. Dance fosters self-expression, creativity, and confidence in a joyful, artistic environment.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="act-img7">
        </div>
        <div class="act-box3">
          <h5 class="act-h">Indoor Games</h5>
          <p class="act-p para">Indoor games like chess, table tennis, and board games teach patience, strategy, and focus. Our play area offers a fun space for cognitive development, relaxation, and building social connections.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="act-img8">
        </div>
        <div class="act-box3">
          <h5 class="act-h">Robotics and AI</h5>
          <p class="act-p para">Students explore innovation by building and programming robots while learning AI principles. This hands-on program enhances critical thinking, problem-solving, and technological skills, preparing students to become future innovators and tech leaders.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="act-img9">
        </div>
        <div class="act-box3">
          <h5 class="act-h">Public Speaking</h5>
          <p class="act-p para">Public speaking programs teach students to articulate ideas confidently through debates, elocutions, and presentations. They build critical thinking, persuasive expression, and communication skills essential for leadership.</p>
        </div>
      </div>
    </div>

    <div class="row py-5">
      <div class="col-lg-4">
        <div class="act-img10">
        </div>
        <div class="act-box3">
          <h5 class="act-h">AR and VR</h5>
          <p class="act-p para">AR and VR programs immerse students in history, science, and geography, enabling them to explore distant planets, dive into human anatomy, or travel back in time, making learning unforgettable and engaging</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="act-img11">
        </div>
        <div class="act-box3">
          <h5 class="act-h">Coding</h5>
          <p class="act-p para"> Coding classes teach programming, algorithms, and logic through fun projects like games and apps. Students build essential digital skills, creativity, and problem-solving abilities for future success in the technology-driven world.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="act-img12">
        </div>
        <div class="act-box3">
          <h5 class="act-h">Art and Craft</h5>
          <p class="act-p para">Art sessions inspire creativity as students work with mediums like paint, clay, and fabric. These activities enhance fine motor skills, aesthetic appreciation, and imaginative self-expression, fostering a love for art.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Way -->
<section class="act-bg2 py-5">
  <div class="container">
    <div class="row">
      <h2 class="txt-c">Our <span class="act-5E"><i>5E</i></span> way</h2>
      <p class="txt-c para">The Cornerstones To All That We Do...</p>
    </div>
    <div class="row txt-c pt-3">
      <div class="col-lg-1">

      </div>
      <div class="col-lg-2 act-box11">
        <img src="../../../assets/image/ac-icon1.png" />
        <h5 class="ped-lh">Engage</h5>
      </div>
      <div class="col-lg-2 act-box11">
        <img src="../../../assets/image/act-icon1.png" />
        <h5 class="ped-lh">Explore</h5>
      </div>
      <div class="col-lg-2 act-box11">
        <img src="../../../assets/image/ac-icon2.png" />
        <h5 class="ped-lh">Explain</h5>
      </div>
      <div class="col-lg-2 act-box11">
        <img src="../../../assets/image/ac-icon3.png" />
        <h5 class="ped-lh">Elaborate</h5>
      </div>
      <div class="col-lg-2 act-box11">
        <img src="../../../assets/image/ac-icon4.png" />
        <h5 class="ped-lh">Evaluate</h5>
      </div>


    </div>
  </div>

</section>
