<div class="custom-footer ptop3">
  <div class="container px-5 px-lg-0">
    <div class="sub_newsletter mb-5 py-5 d-none d-lg-block d-md-block">
      <div class="row">
        <div class="col-md-5">
          <span>subscribe newsletter</span>
        </div>
        <div class="col-md-7 d-flex align-items-center form_sbscribe">
          <input type="search" class="form_sbscribe" placeholder="Enter Email" />
          <button>Subscribe</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-lg-start text-center footer-logo1">
        <div class="footer_bottom_logo">
          <div class="ft-logo">
            <img src="../../../assets/image/logo.svg" />
            <div class="cbse">CBSE affiliated</div>
            <!-- <div class="text-center copy-write fot-p">
              © 2024 Small Wonders
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="col-12 col-lg-6 header fot-h mobile-links">
          Quick Links
          <ul class="mt-3 ps-0 fot-p">
            <li class="my-2"><a [routerLink]="['/']">Home</a></li>
            <li class="my-2"><a [routerLink]="['/our-blog']">Blog</a></li>
            <li class="my-2">
              <a [routerLink]="['/our-gallery']">Gallery</a>
            </li>
            <li class="my-2"><a [routerLink]="['/about-us']">About Us</a></li>
            <li class="my-2">
              <a [routerLink]="['/curriculum']">Curriculum</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/admissions']">Admissions</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/schedule-tour']">Schedule a Tour</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="col-12 col-lg-6 header fot-h mobile-links">
         Resources
          <ul class="mt-3 ps-0 fot-p">
            
            <li class="my-2">
              <a [routerLink]="['/activities']">Activities</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/books-and-beyond']">Pedagogy</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/our-history']">Our History</a>
            </li>

            <li class="my-2">
              <a [routerLink]="['/testimonial']">Testimonials</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/franchise']">Franchise</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-3 col-lg-3 header fot-h mob-hide">
        <div class="mob-hide">Company</div>
        <div class="mt-3">
          <div class="footer-li"><i class="fa fa-phone" aria-hidden="true"></i> <span class="ps-2"> 0180-4666-666
            </span></div>

            <div class="footer-li"><i class="fa fa-phone" aria-hidden="true"></i> <span class="ps-2">   9138-222-500
            </span></div>

            <div class="footer-li"><i class="fa fa-phone" aria-hidden="true"></i> <span class="ps-2">   9138-222-700
            </span></div>


          <div class="footer-li"><i class="fa fa-envelope " aria-hidden="true"></i>
            <span class="ps-2"> smallwonders2002@gmail.com </span>
          </div>
          <div class="flex social-icons">
            <a href="https://www.facebook.com/smallwonderspanipat/" target="_blank"> <span class="me-3">
                <i class="fa fa-facebook ft-icon" aria-hidden="true"></i>
              </span> </a>
            <a href="https://www.instagram.com/small_wonders_panipat/" target="_blank"> <span class="me-3">
                <i class="fa fa-instagram ft-icon" aria-hidden="true"></i>
              </span> </a>
            <a href="https://www.youtube.com/channel/UCUcd6kNDBI7x-yvoYrdnstw" target="_blank">
              <span class="me-2"><i class="fa fa-youtube-play ft-icon" aria-hidden="true"></i>
              </span> </a>
            <a href="https://www.youtube.com/channel/UCUcd6kNDBI7x-yvoYrdnstw" target="_blank">
              <span class="me-2"><i class="fa fa-twitter-square ft-icon" aria-hidden="true"></i>
              </span> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-0 text-lg-start text-center mobile-logo">
        <div class="ft-logo">
          <img src="../../../assets/image/footer-logo.svg" />
          <div class="cbse">CBSE affiliated</div>
        </div>
        <div class="mt-3 text-center">
          <div class="footer-li"><i class="fa fa-phone" aria-hidden="true"></i> <span class="ps-2">   9138-222-500
          </span></div>

          <div class="footer-li"><i class="fa fa-phone" aria-hidden="true"></i> <span class="ps-2">   9138-222-700
          </span></div>


        <div class="footer-li"><i class="fa fa-envelope " aria-hidden="true"></i>
          <span class="ps-2"> smallwonders2002@gmail.com </span>
        </div>
        </div>
        <div class="row my-3 px-lg-0 subscribe">
          <input type="text" placeholder="Subscribe to Newsletter" />
          <button class="arrow-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
        </div>
        <div class="col-12 col-lg-6 header fot-h mob-links quick-links">
          Quick Links
          <ul class="mt-3 ps-0 fot-p">
            <li class="my-2"><a [routerLink]="['/']">Home</a></li>
            <li class="my-2"><a [routerLink]="['/our-blog']">Blog</a></li>
            <li class="my-2">
              <a [routerLink]="['/our-gallery']">Gallery</a>
            </li>
            <li class="my-2"><a [routerLink]="['/about-us']">About Us</a></li>
            <li class="my-2">
              <a [routerLink]="['/curriculum']">Curriculum</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/admissions']">Admissions</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/schedule-tour']">Schedule a Tour</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/curriculum']">Curriculum</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/activities']">Activities</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/books-and-beyond']">Pedagogy</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/our-history']">Our History</a>
            </li>

            <li class="my-2">
              <a [routerLink]="['/testimonial']">Testimonial</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/franchise']">Franchise</a>
            </li>
          </ul>
        </div>
        <!-- <div class="col-12 col-lg-6 header fot-h mob-links">
          Resources
          <ul class="mt-3 ps-0 fot-p">
            <li class="my-2">
              <a [routerLink]="['/curriculum']">Curriculum</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/activities']">Activities</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/books-and-beyond']">Pedagogy</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/our-history']">Our History</a>
            </li>

            <li class="my-2">
              <a [routerLink]="['/testimonial']">Testimonial</a>
            </li>
            <li class="my-2">
              <a [routerLink]="['/franchise']">Franchise</a>
            </li>
          </ul>
        </div> -->
        <div class="row header fot-h mob-hide">Contact Us</div>
        <div class="row header fot-h text-center d-block">Follow Us on</div>
        <div class="mt-3 social-icons justify-content-center">
          <a href="https://www.facebook.com/smallwonderspanipat/" target="_blank"> <span class="me-3"><i
                class="fa fa-facebook-official ft-icon" aria-hidden="true"></i></span> </a>
          <a href="https://www.instagram.com/small_wonders_panipat/" target="_blank"> <span class="me-3"><i
                class="fa fa-instagram ft-icon" aria-hidden="true"></i>
            </span> </a>
            <a href="https://www.youtube.com/channel/UCUcd6kNDBI7x-yvoYrdnstw" target="_blank">
              <span class="me-2"><i class="fa fa-youtube-play ft-icon" aria-hidden="true"></i>
              </span> </a>
            <!-- <a href="https://www.youtube.com/channel/UCUcd6kNDBI7x-yvoYrdnstw" target="_blank">
              <span class="me-2"><i class="fa fa-twitter ft-icon" aria-hidden="true"></i>
              </span> </a> -->
        </div>
        <div class="header fot-h">
          <ul class="mt-3 ps-0 fot-p">
            <li class="my-2"><a [routerLink]="['']"> Site FAQ’</a></li>
            <li class="my-2"><a [routerLink]="['']">Privacy Policy</a></li>
            <li class="my-2"><a [routerLink]="['']">Terms & Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center copy-write fot-p copyright">
    © 2025 Small Wonders
    All rights reserved.
  </div>
</div>
