<div class="footer">
  <hr class="style-dotted-footer" />
  <nav>
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Curriculum</a></li>
      <li><a href="#">Admissions</a></li>
      <li><a href="#">Franchise</a></li>
      <li><a href="#">Branches</a></li>
      <li><a href="#">Books & Beyond</a></li>
      <li><a href="#">Events & Gallery</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>
  <hr class="style-dotted-footer" />
</div>
