<app-jumbotron></app-jumbotron>
<app-banner></app-banner>
<!-- <app-carousel-image-section
  (navigateClicked)="navigateToHomeIntro()"
></app-carousel-image-section> -->
<app-home-intro-section></app-home-intro-section>
<app-branch-info-section></app-branch-info-section>
<app-home-curriculum-section [displayList]="curriculumList" [titleIntro]="" [title]="'Our Curriculum'"
  [type]="'curriculum'"></app-home-curriculum-section>
<app-recent-events></app-recent-events>
<!-- <app-home-curriculum-section
  [displayList]="curriculumList"
  [titleIntro]=""
  [title]="'Our Curriculum'"
  [type]="'curriculum'"
></app-home-curriculum-section> -->
<!-- <app-page-break-section></app-page-break-section> -->
<!-- <app-branch-info-section></app-branch-info-section> -->
<!-- events -->
<!-- <app-home-curriculum-section
  [displayList]="eventList"
  [titleIntro]="'Events and Functions'"
  [title]="'Recent Events'"
  [type]="'events-and-gallery'"
></app-home-curriculum-section> -->
<!--<app-school-age-break-->
<!--  [schoolAgeBreakList]="schoolAgeBreakList"-->
<!--&gt;</app-school-age-break>-->
<app-contact-form></app-contact-form>
<app-parents-testimonial [testimonialList]="testimonialList"></app-parents-testimonial>
<!--<app-franchise-opportunity></app-franchise-opportunity>-->
