.header-logo img{
  width: 108px;
}

.nav-item a, .nav-item button{
  font-weight: 400;
  font-size: 16px;
}

.nav-item button {
  font-weight: 100;
}

@media only screen and (max-width: 480px) {
  // .navbar-toggler {
  //   font-size: 16px;
  // }
  // .nright a i {
  //   width: 25px;
  //   height: 25px;
  //   font-size: 16px;
  // }
}

@media only screen and (max-width: 350px) {
  // .header-logo {
  //   width: 100%;
  // }
}