<div>
  <nav class="navbar navbar-light bg-white navbar-expand-lg">
    <div class="top-nav">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#topNavCollapse"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="topNavCollapse" class="navbar-collapse collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                [ngClass]="{
                  'active-link': router.url == '/'
                }"
                class="nav-link pointer-icon"
                (click)="navigateToHome()"
              >
                <i class="fa fa-home" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/about-us']"
                [ngClass]="{
                  'active-link': router.url == '/about-us'
                }"
                class="nav-link"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/curriculum']"
                [ngClass]="{
                  'active-link': router.url == '/curriculum'
                }"
                class="nav-link"
                >Curriculum</a
              >
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/admissions']"
                [ngClass]="{
                  'active-link': router.url == '/admissions'
                }"
                class="nav-link"
                >Admissions</a
              >
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/franchise']"
                [ngClass]="{
                  'active-link': router.url == '/franchise'
                }"
                class="nav-link"
                >Franchise</a
              >
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/activities']"
                class="nav-link"
                [ngClass]="{
                  'active-link': router.url == '/activities'
                }"
                >Activities</a
              >
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/books-and-beyond']"
                [ngClass]="{
                  'active-link': router.url == '/books-and-beyond'
                }"
                class="nav-link"
                >Books & Beyond</a
              >
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/events-and-gallery']"
                [ngClass]="{
                  'active-link': router.url == '/events-and-gallery'
                }"
                class="nav-link"
                >Events & Gallery</a
              >
            </li>
            <li class="nav-item">
              <a [routerLink]="['/']" class="nav-link">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container bottom-nav">
    <div class="row align-items-center">
      <div class="col-md-4 col-4">
        <div class="nleft">
          <a href="#" class="envelope"><i class="fa fa-envelope"></i></a>
          <a href="#" class="phone"
            ><i class="fa fa-phone mr-2"></i> {{ contactButtonText }}</a
          >
        </div>
      </div>

      <div class="text-center col-md-4 col-4">
        <a
          href="/"
          aria-current="page"
          target="_self"
          class="navbar-brand logo-wrapper"
        >
          <img src="/assets/img/logo.png" class="header-logo" />
        </a>
      </div>

      <div class="col-md-4 col-4">
        <div class="nright">
          <a href="https://www.facebook.com/smallwonderspanipat/" target="_blank"><i class="fa fa-facebook-official"></i></a>
          <a href="https://www.instagram.com/small_wonders_panipat/" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCUcd6kNDBI7x-yvoYrdnstw" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
