<div class="navbar-container">
  <nav>
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Curriculum</a></li>
      <li><a href="#">Admissions</a></li>
      <li><a href="#">Franchise</a></li>
      <li><a href="#">Branches</a></li>
      <li><a href="#">Books & Beyond</a></li>
      <li><a href="#">Events & Gallery</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>
  <hr class="style-dotted" />
  <div class="header-info-container">
    <div class="header-info-container__left">
      <i class="fa fa-envelope icon-margins" aria-hidden="true"></i>
      <button class="mbtn mbtn__secondary">{{ contactButtonText }}</button>
    </div>
    <!-- logo -->
    <img src="assets/img/logo.png" alt="logo" class="logo-img" />
    <!-- fa icons -->
    <div class="header-info-container__right">
      <i class="fa fa-facebook-official icon-margins" aria-hidden="true"></i>
      <i class="fa fa-instagram icon-margins" aria-hidden="true"></i>
      <i class="fa fa-youtube icon-margins" aria-hidden="true"></i>
    </div>
  </div>
</div>
