.top-nav {
  border-bottom: 2px dashed #ddd;
  min-width: 100%;

  ul {
    li {
      a {
        padding: 12px 20px !important;
        font-family: Nunito, sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #666;
        text-decoration: none;
      }
    }
  }
}

.active-link {
  color: #8a2b3d !important;
}

.bottom-nav {
}

.nleft {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;

  a {
    text-decoration: none;
    color: #fff;
  }

  .envelope,
  .phone {
    height: 35px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .envelope {
    margin-right: 10px;
    width: 35px;
    background: #8a2b3d;
    border-radius: 100%;
  }

  .phone {
    padding: 2px 15px;
    background: #666;
    border-radius: 20px;
  }
}

.nright {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    text-decoration: none;
    color: #fff;
    margin: 0 0 0 10px;

    i {
      padding: 0;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .fa-facebook-official {
      background: #3c58a1;
      color: #fff;
    }

    .fa-instagram {
      color: #fff;
      background: linear-gradient(
        45deg,
        #f09433,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888
      );
    }
    .fa-youtube {
      background: #fe1f1f;
      color: #fff;
    }
  }
}

.logo-wrapper {
  height: 10px;
}
.header-logo {
  width: 160px;
  height: auto;
  background: #fff;
  z-index: 1000;
  padding: 2%;
  border-radius: 10px;
}
