<div class="input-form-section">
  <div class="container">
    <form>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Date of Birth</label>
        <input type="text" class="form-control" id="dateOfBirth" />
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="age">Age (as on date)</label>
            <input type="text" class="form-control" id="age" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="admissionClass">Admission for Class</label>
            <input type="text" class="form-control" id="admissionClass" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="nationality">Nationality</label>
            <input type="text" class="form-control" id="nationality" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="motherToungue">Mother Tongue</label>
            <input type="text" class="form-control" id="motherToungue" />
          </div>
        </div>
      </div><br>

      <div><h6>Father's Details</h6></div>
      <div class="row">    
        <div class="col">
          <div class="form-group">
           <label for="fatherName">Father's Name</label>
           <input type="text" class="form-control" id="fatherName" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
           <label for="fatherOccupation">Occupation</label>
           <input type="text" class="form-control" id="fatherOccupation" />
          </div>
        </div>
      </div>

      <div class="row">    
        <div class="col">
          <div class="form-group">
           <label for="fatherEducation">Education</label>
           <input type="text" class="form-control" id="fatherEducation" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
           <label for="fatherLanguages">Languages spoken at Home</label>
           <input type="text" class="form-control" id="fatherLanguages" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="fatherAddress">Residential Address</label>
        <input type="text" class="form-control" id="fatherAddress" />
      </div>

      <div class="row">    
        <div class="col">
          <div class="form-group">
           <label for="fatherContact">Contact Details</label>
           <input type="text" class="form-control" id="fatherContact" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
           <label for="fatherMobile">Mobile</label>
           <input type="text" class="form-control" id="fatherMobile" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="fatherEmail">Email</label>
        <input type="email" class="form-control" id="fatherEmail" />
      </div> <br>

      <div><h6>Mother's Details</h6></div>
      <div class="row">    
        <div class="col">
          <div class="form-group">
           <label for="motherName">Mother's Name</label>
           <input type="text" class="form-control" id="motherName" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
           <label for="motherOccupation">Occupation</label>
           <input type="text" class="form-control" id="motherOccupation" />
          </div>
        </div>
      </div>

      <div class="row">    
        <div class="col">
          <div class="form-group">
           <label for="motherEducation">Education</label>
           <input type="text" class="form-control" id="motherEducation" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
           <label for="motherLanguages">Languages spoken at Home</label>
           <input type="text" class="form-control" id="motherLanguages" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="motherAddress">Residential Address</label>
        <input type="text" class="form-control" id="motherAddress" />
      </div>

      <div class="row">    
        <div class="col">
          <div class="form-group">
           <label for="motherContact">Contact Details</label>
           <input type="text" class="form-control" id="motherContact" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
           <label for="motherMobile">Mobile</label>
           <input type="text" class="form-control" id="motherMobile" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="motherEmail">Email</label>
        <input type="email" class="form-control" id="motherEmail" />
      </div>

      <div class="row">    
        <div class="col">
          <label for="gender">Gender</label>
          <div class="form-group">
            
            <label class="radio-inline">
              <input type="radio" id="gender" name="gender" checked> Male
            </label>  &nbsp;
            <label class="radio-inline">
              <input type="radio" id="gender" name="gender"> Female
            </label>  &nbsp;
            <label class="radio-inline">
              <input type="radio" id="gender" name="gender"> Other
            </label>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
           <label for="motherMobile">Mobile</label>
           <input type="text" class="form-control" id="motherMobile" />
          </div>
        </div>
      </div>
      
      <div class="row">    
        <div class="col">
          <div class="form-group">
           <label for="schoolGoing">School going</label>
           <input type="text" class="form-control" id="schoolGoing" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
           <label for="siblingGrade">Grade</label>
           <input type="text" class="form-control" id="siblingGrade" />
          </div>
        </div>

        <div class="col">
          <div class="form-group">
           <label for="siblingSchool">Name of the School</label>
           <input type="text" class="form-control" id="siblingSchool" />
          </div>
        </div>
      </div>

      <br>
      <br>

      <div><h6>PREVIOUS ACADEMIC RECORDS</h6></div>

      <div class="row">    
        <div class="col">
          <div class="form-group">
           <label for="prevSchool">Name of the School</label>
           <input type="text" class="form-control" id="prevSchool" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
           <label for="prevClass">Class</label>
           <input type="text" class="form-control" id="prevClass" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="prevCurriculum">Curriculum</label>
        <input type="text" class="form-control" id="prevCurriculum" />
      </div>

      <div class="form-group">
        <label for="additionalInfo">Additional Information about the child</label>
        <input type="text" class="form-control" id="additionalInfo" />
      </div>

      <div class="form-group">
        <label for="aboutSWWS">How did you come to know about SWWS</label>
        <input type="text" class="form-control" id="aboutSWWS" />
      </div>

      <div class="form-group">
        <label for="questions">Do you have any question or comment</label>
        <input type="text" class="form-control" id="questions" />
      </div>

      <div class="form-group">
        <label for="commentsAdmission">Comments from the Admission Officer </label>
        <input type="text" class="form-control" id="commentsAdmission" />
      </div>

      <div class="row justify-content-center mt-5">
        <button type="submit" class="btn mbtn text-center">Submit</button>
      </div>
    </form>
  </div>
</div>
