<div class="corner-stone-section">
  <div class="container">
    <h3 class="text-center">Our Way</h3>
    <p class="text-center">The Cornerstones To All That We Do...</p>
    <div class="row justify-content-center">
      <div class="col-md-2 col-sm-4">
<!--        <div class="circle"></div>-->
        <h5>Engage</h5>
      </div>
      <div class="col-md-2 col-sm-4">
<!--        <div class="circle"></div>-->
        <h5>Explore</h5>
      </div>
      <div class="col-md-2 col-sm-4">
<!--        <div class="circle"></div>-->
        <h5>Explain</h5>
      </div>
      <div class="col-md-2 col-sm-4">
<!--        <div class="circle"></div>-->
        <h5>Elaborate</h5>
      </div>
      <div class="col-md-2 col-sm-4">
<!--        <div class="circle"></div>-->
<!--        <p class="caption mt-2">Evaluate</p>-->
        <h5>Evaluate</h5>
      </div>
    </div>
  </div>
</div>
