.d-flex.align-items-center{
    position: absolute;
    align-items: center;
    z-index: 5;
    transform: translate(0%, -180%);
    width: 40%;
}

.card-title{
    color: #8a2b3d;
    font-size: 1.5em;
    font-weight: 900;
}

.card-body{
    margin-left: 7%;
}

.card {
  position: inherit;
  top: -300px;
}

@media only screen and (max-width: 530px) {
  .card-text {
    font-size: small;
  }
  .card-title {
    font-size: smaller;
  }
  .card {
    width: 150px;
  }
}

@media only screen and (max-width: 680px) {
  .card-body{
    padding: 0;
  }
}
