<div class="franchise-section">
  <div class="fo_img_1"></div>
  <div class="desktop-wrapper fo_img_2"></div>

  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-sm-12 col-md-5 col-lg-5 franchise-section-block">
        <div class="title_sec">
          <h3 class="mb-0">
            Franchise Opportunity
          </h3>
          <img src="/assets/img/card-divider.png" />
          <p>
            New Heights. New Opportunities
          </p>
        </div>
        <p class="p2">
          Join Small Wonders &amp; Take Advantage Of Our Momentum!
        </p>
        <button class="btn mbtn" (click)="goToFranchise()">
          <i class="fa fa-phone"></i> Know More
        </button>
      </div>
      <div class="col-sm-12 col-md-5 col-lg-4 franchiseKids">
        <img src="/assets/img/franchiseKids.png" />
      </div>
    </div>
  </div>
</div>
