.jumbo-tran-animation {

    background-image: url(../../../assets/img/homepage/blue-bg-boy.svg), url(../../../assets/img/homepage/gold-bg-boy.svg);
    background-repeat: no-repeat;
    background-position: bottom, center;

    // animation: changeBg 5s infinite;
}

.jumbo-tron-header {
    font-weight: 400;
    font-size: 20px;
}

.jumbo-tron-text {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
    color: #0A033C;
}

@media only screen and (max-width: 480px) {
    .jumbo-tron-text {
        font-size: 38px;
        font-weight: bold;
        line-height: 1.2;
        color: #0A033C;
    }
}

@keyframes changeBg {

    0% {
        background-image: url(../../../assets/img/homepage/gold-bg-boy.svg), url(../../../assets/img/homepage/blue-bg-boy.svg);
    }

    25% {
        background-image: url(../../../assets/img/homepage/gold-bg-boy.svg), url(../../../assets/img/homepage/blue-bg-boy.svg);
    }

    50% {
        background-image: url(../../../assets/img/homepage/blue-bg-boy.svg), url(../../../assets/img/homepage/gold-bg-boy.svg);
    }

    75%,
    100% {
        background-image: url(../../../assets/img/homepage/blue-bg-boy.svg), url(../../../assets/img/homepage/gold-bg-boy.svg);
    }
}