<!-- <app-background-img-text [bgImage]="image" [title]="'BLOG'"></app-background-img-text> -->


<div class="about-bg">

</div>

<div class="blog-content">
  <div class="container text-center pt-5">
    <b class="page_heading mt-4"> Our Blog</b>
    <div class="row pt-4">
      <div class="col-sm-6" style="padding-left: 0%;">
        <!-- <ng-container>
            <div class="left-big-block">
              <img [src]="image" alt="eventImage" />
              <div class="d-flex flex-column justify-content-start left-big-block__category">
                <p>CATEGORY</p>
              </div>
              <div class="d-flex flex-column justify-content-start left-big-block__bottomDesc">
                <p>by AUTHOR | DATE</p>
                <h2> Event Title </h2>
               </div>
            </div>
            <div class="d-flex flex-column justify-content-start left-big-block__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<button>READ MORE</button>
            </div>
            </ng-container> -->

        <!-- <nav class="navbar navbar-dark bg-dark mt-5">
                <ul class="nav">
                    <li class="nav-item">
                      <a  class="nav-link active">1</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">2</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">Previous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">Next</a>
                    </li>
                </ul>
            </nav> -->

        <div class="main-bx">
          <div class="secn-bx">
            <a [routerLink]="['/our-blog-detais']">
              <div>
                <img id="img-bx" src="../../../assets/image/Maskgroup.png" />
              </div>

              <div class="card_detal">
                <h5 class="card_title">Sports</h5>
                <p class="card_txt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                  sodales morbi dignissim se
                </p>
                <div class="card_txt_footer">
                  <p>By Rahul</p>
                  <p>Dec 8 2023</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="right-column col-sm-6 col xs-6">
        <!-- <div class="category-filter pt-3 pb-3 container">
                <h5>BLOG CATEGORIES</h5>
                <a>Faculty</a><br>
                <a>Students</a><br>
                <a>Podcasts</a><br>
                <a>Press</a><br>
                <a>uncategorized</a>
            </div> -->

        <!-- <div class="popular-section mt-4">
                <h4>POPULAR</h4>
                <ng-container>
                    <div class="popular-content">
                      <img [src]="image" alt="eventImage" />
                      <div class="d-flex flex-column justify-content-start popular-content__desc">
                        <span>by AUTHOR | DATE</span>
                        <p>Event Title </p>
                       </div>
                    </div>
                </ng-container>
            </div> -->

        <div class="main-bx">
          <div class="secn-bx">
            <div>
              <img id="img-bx" src="../../../assets/image/curs.png" />
            </div>

            <div class="card_detal">
              <h5 class="card_title">Sports</h5>
              <p class="card_txt">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                sodales morbi
              </p>
            </div>
          </div>
        </div>
        <div class="main-bx">
          <div class="secn-bx">
            <div>
              <img id="img-bx" src="../../../assets/image/Rectangle-46.png" />
            </div>

            <div class="card_detal">
              <h5 class="card_title">Sports</h5>
              <p class="card_txt">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                sodales morbi dignissim sed diam pharetra vitae ipsum
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="search_section my-5">
      <div class="section_title t-4">
        All blog posts
      </div>

      <div class="wrapper">
        <form class="search">
          <input type="text" class="searchText" placeholder="Find some cool blog">
          <input type="submit" class="searchButton" value="Search" disabled>
        </form>
      </div>
    </div>

    <div class="small_blog_section my-4">
      <div class="row">
        <div class="col-md-4">
          <div class="main-bx">
            <div class="secn-bx">
              <div>
                <img id="img-bx" src="../../../assets/image/Rectangle-1.png" />
              </div>

              <div class="card_detal">
                <h5 class="card_title">Sports</h5>
                <p class="card_txt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                  sodales
                </p>
                <div class="card_txt_footer">
                  <p>By Rahul</p>
                  <p>Dec 8 2023</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="main-bx">
            <div class="secn-bx">
              <div>
                <img id="img-bx" src="../../../assets/image/curs.png" />
              </div>

              <div class="card_detal">
                <h5 class="card_title">Sports</h5>
                <p class="card_txt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                  sodales morbi
                </p>
                <div class="card_txt_footer">
                  <p>By Rahul</p>
                  <p>Dec 8 2023</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="main-bx">
            <div class="secn-bx">
              <div>
                <img id="img-bx" src="../../../assets/image/Maskgroup.png" />
              </div>

              <div class="card_detal">
                <h5 class="card_title">Sports</h5>
                <p class="card_txt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                  sodales morbi dignissim
                </p>
                <div class="card_txt_footer">
                  <p>By Rahul</p>
                  <p>Dec 8 2023</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="footer_btn my-5">
      <button>Continue..</button>
    </div>
  </div>
</div>
