.adjust-logo {
  z-index: -1;
}

.slide-home-page {
  width: 100%;
  height: 30em;
}

.slide-1 {
  background: url("/assets/img/home-greenboard-bg.png") no-repeat bottom;
  background-size: cover;
}

.slide-2 {
  background: url("/assets/img/home-greenboard-bg.png") no-repeat bottom;
  background-size: cover;
}
