@import "../../../assets/styles/variables.scss";

.adjust-logo {
  z-index: 1;
  position: relative;
}

.slide-home-page {
  width: 100%;
  height: 30em;
}

.slide-1 {
  background: url("/assets/img/home-greenboard-bg.png") no-repeat bottom;
  background-size: cover;
}

.slide-2 {
  background: url("/assets/img/home-blackboard-bg.jpg") no-repeat bottom;
  background-size: cover;

  
}

.bulb{
  position: absolute;
  opacity: 0.5;
  bottom: 2%;
  right: 20%;
  width: 200px;
  height: 300px;
}

.climbingStairs {
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}

.h100 {
  height: 100%;
}

.arrow-down {
  position: absolute;
  bottom: 2%;
  cursor: pointer;
}

h1 {
  color: $white-primary;
  font-family: "Cabin Sketch", cursive;
  font-size: 3.5em;
  text-shadow: 1px 0 2px black;
  span {
    display: block;
  }
}

.slide-1 {
  h2 {
    font-family: "Bangers", cursive;
    color: $white-primary;
    font-size: 3em;
    text-shadow: 2px 0 2px black;
  }
}

.slide-2 {
  h1 {
    text-align: left;
  }

  h2 {
    font-family: Shadows Into Light Two, cursive;
    color: $white-primary;
  }
}
