<div
  id="carousel-home-page"
  class="carousel slide adjust-logo"
  data-ride="carousel"
>
  <!--Indicators-->

  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    <div class="carousel-item active slide-home-page slide-1">
<!--      <div class="container text-center h100">-->
<!--        <div-->
<!--          class="d-flex flex-column align-items-center justify-content-center h100"-->
<!--        >-->
<!--          -->
<!--          <h2>Be different Be a wonderian</h2>-->
<!--          <h1>-->
<!--            <span>Great Place for Your</span><span>Child to Grow at</span>-->
<!--          </h1>-->
<!--        </div>-->
<!--        <img-->
<!--        src="/assets/img/climbing_stairs.jpg"-->
<!--        alt="arrow-down" style="width: 25%; border: none;"-->
<!--        class="climbingStairs"-->
<!--        (click)="navigateToHomeIntro()"-->
<!--        />-->
<!--        <img-->
<!--          src="/assets/img/arrow-down.png"-->
<!--          alt="arrow-down"-->
<!--          class="arrow-down"-->
<!--          (click)="navigateToHomeIntro()"-->
<!--        />-->
<!--      </div>-->
    </div>
    <!--/First slide-->
    <!--Second slide-->
    <div class="carousel-item slide-home-page slide-2">
<!--      <div class="container text-center h100">-->
<!--        <div class="d-flex flex-column align-items-start justify-content-center h100">-->
<!--          <h2>Welcome to Small Wonders</h2>-->
<!--          <h1>-->
<!--            <span>We teach children how to</span>-->
<!--            <span>think, not what to think</span>-->
<!--          </h1>-->
<!--        </div>-->
<!--        <img-->
<!--        src="/assets/img/bulb-in-hand.jpg"-->
<!--        alt="arrow-down"-->
<!--        class="bulb"-->
<!--        (click)="navigateToHomeIntro()"-->
<!--        />-->
<!--        <img-->
<!--          src="/assets/img/arrow-down.png"-->
<!--          alt="arrow-down"-->
<!--          class="arrow-down"-->
<!--          (click)="navigateToHomeIntro()"-->
<!--        />-->
<!--      </div>-->
    </div>
    <!--/Second slide-->
    <div class="carousel-item slide-home-page slide-3">
    </div>
  </div>
</div>
