<div
  id="carousel-home-page"
  class="carousel slide adjust-logo"
  data-ride="carousel"
>
  <!--Indicators-->

  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    <div class="carousel-item active slide-home-page slide-1">
      <div class="container text-center"></div>
    </div>
    <!--/First slide-->
    <!--Second slide-->
    <div class="carousel-item slide-home-page slide-2">
      <div class="container text-center"></div>
    </div>
    <!--/Second slide-->
  </div>
</div>
