<div class="page-break-section">
  <div class="pb_img_2"></div>
  <div class="pb_img_3"></div>

  <div class="container">
    <div>
      <h2>
        If you're looking for a <strong>free-flowing, non-restrictive learning environment</strong> Small Wonders is for
        you.
      </h2>
      <h4>
        Our commitment is to be the best school possible. Contact us today to see if we are a fit for you.
      </h4>
    </div>
    <div class="text-center mt-4">
      <button [routerLink]="['/contact-form']" class="btn mbtn">Contact us</button>
    </div>
  </div>
</div>
