@import "../../../../assets/styles/variables.scss";

.explore-section {
  width: 100%;
  background: $background-primary-light;
  padding: 3em 0;

  h5 {
    color: maroon;
  }

  p {
    font-family: "Nunito", sans-serif ;
  }
}



.circle {
  height: 7em;
  width: 7em;
  background-color: #8c8b8b;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.top-para {
  margin-bottom: -55px;
}
