<div class="container my-5 text-center">
    <div class="blog_d_btn">
        <button>Lorem</button>
        <button>Lorem</button>
        <button>Lorem</button>
    </div>

    <div class="blog_details my-5">
        <div class="blog_title">
            <h1>Blog title Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</h1>
            <span>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet. adipisicing elit. Animi,
                odit.</span>
        </div>

        <div class="blog_social_icon my-3">
            social_icons here
        </div>
        <div class="blog_bn my-5">
            <img src="../../../assets/image/Maskgroup.png" alt="">
        </div>
        <div class="blog_txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptates adipisci rerum sint veritatis,
            ut vel, eveniet modi saepe odio molestiae nam magnam? Distinctio delectus voluptate cum. Facilis inventore,
            neque dolores aliquid necessitatibus officia ex excepturi sequi mollitia voluptatibus distinctio temporibus
            quasi odio iure voluptatem adipisci. Laborum magni qui aspernatur nisi vitae id blanditiis voluptatibus.
            Aperiam atque aspernatur at saepe neque est. Autem et minima esse, ipsum nesciunt maiores ad enim
            praesentium laudantium ducimus animi sunt aut reiciendis nam numquam aperiam nobis odio non sed quos vel
            consectetur voluptatum nisi voluptatem! Soluta sapiente esse eaque perspiciatis modi minus, quibusdam dicta
            ipsam atque, quisquam sint, asperiores praesentium harum omnis a dolor excepturi animi consequuntur. Ea
            repellendus ad alias veniam, labore enim nihil sint accusantium hic error dignissimos accusamus, tenetur
            earum illum asperiores neque. Tenetur harum praesentium laboriosam, et corrupti ipsum aut officia ad atque
            porro doloribus a fugit alias? Aspernatur consequatur ipsum assumenda saepe laboriosam. Voluptatum quae quia
            perferendis deleniti repellat, alias error sit accusamus fugiat numquam, delectus magni. At provident eaque
            soluta. Libero inventore temporibus dolorem iure nisi quis molestias debitis eligendi assumenda perferendis.
            Maxime nulla dolor animi quia tempore consequuntur, aperiam magni nesciunt, saepe eos asperiores a quidem
            obcaecati sunt temporibus. Facilis qui pariatur accusantium nisi illo perspiciatis officia ducimus ab est
            voluptatibus, error, animi aperiam. Sint veritatis illum a esse ea nulla quidem! Quisquam quaerat nulla,
            ducimus dignissimos tempore doloribus officia nemo, eaque quia itaque nihil dolorum dolore cum, ratione
            maiores. Minima maxime mollitia incidunt nihil iusto earum voluptates exercitationem expedita alias corrupti
            officiis optio cum error delectus, dolore at vitae voluptatibus possimus. Voluptas excepturi rerum earum,
            nostrum nam ullam eligendi? Rerum facilis quis eos fugiat. Dolor, temporibus adipisci! Quasi minus eaque
            fugit exercitationem odio inventore, non totam autem vel animi hic id distinctio. Excepturi quisquam impedit
            dolores.
        </div>

        <div class="blog_sub_detail my-5">
            <div class="sub_title">
                sub title Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, hic!
            </div>
            <div class="row mt-5">

                <div class="col-md-6">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam inventore obcaecati incidunt
                        minima excepturi dolor nisi ipsa aliquid maiores id atque, deserunt fuga earum! Cum omnis facere
                        aspernatur sint labore quis neque temporibus. Eaque, quidem recusandae. Pariatur expedita
                        distinctio repellendus? Ad sapiente iure ea quaerat repudiandae! Repellendus aliquid laboriosam
                        officiis?</p>
                    <p>
                        <b>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis velit recusandae tenetur
                            dignissimos quis, corporis, perferendis, culpa laudantium iste id consectetur! Autem dolore
                            obcaecati esse. Tempora possimus aperiam, laboriosam nemo tenetur sunt odit vero natus, quod
                            reprehenderit saepe vel est minima voluptatum non aliquid dolorem doloribus. Iusto ipsam
                            praesentium possimus eaque distinctio consequatur cumque! Repellat voluptate laudantium amet
                            dolor inventore.
                        </b>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="sub_img">
                        <img src="../../../assets/image/Maskgroup.png" alt="">
                    </div>
                </div>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, doloremque eum fugiat non sunt nisi!
                Repellat, consectetur velit eum perferendis incidunt iste dignissimos iusto repudiandae beatae obcaecati
                ratione rerum aliquid in sit omnis voluptatem delectus sunt accusantium unde facilis praesentium
                possimus quas. Vero odit distinctio aperiam incidunt minus repellendus! Aperiam non reiciendis enim
                accusantium sunt tempora architecto autem consequatur? Recusandae ea animi, maxime alias sunt
                praesentium velit? Dignissimos, aperiam unde laborum voluptate nostrum, eaque fugit natus facilis atque
                reiciendis quod quidem eum? Maiores atque ullam libero alias, rerum praesentium ea quo impedit, quaerat
                doloremque voluptas aspernatur. Nihil consequuntur ducimus optio pariatur, ipsum voluptatum facere
                asperiores, iusto provident inventore accusantium neque minus minima aliquam officia rerum eius earum
                qui vel aperiam culpa possimus maxime placeat voluptates? Illum voluptatum eius quo quia saepe aliquam
                magnam asperiores veritatis quidem! Molestias ea, vero omnis impedit officia laudantium consectetur unde
                repellat facere cum praesentium quasi odit fuga, mollitia voluptas possimus? Dolorum debitis cum
                molestiae deleniti itaque. Recusandae dolorum nostrum veritatis delectus? Sit reprehenderit placeat quas
                ratione distinctio, beatae maxime, molestiae delectus praesentium sapiente architecto incidunt ullam
                veritatis et, saepe laboriosam quaerat quis voluptatibus repellat ea magni vitae cupiditate tempora!
                Odio impedit ut praesentium consequatur similique.</p>
        </div>
    </div>
</div>