<div class="container">
    <div class="event-title active-link text-center my-lg-3">Events and Functions</div>

    <div class="event-sub-title text-center my-3 mb-lg-5 mb-4">Recent Events</div>

    <div class="event-tiles-container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center my-2">
                <div class="event-tile">
                    <img src="../../../assets/img/event-1.jpeg" alt="">
                    <div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center my-2">
                <div class="event-tile">
                    <img src="../../../assets/img/event-1.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="text-center my-lg-5">
        <button type="button" class="shadow-lg btn btn-primary button-rounded px-4 py-3 mt-4 mt-lg-3">See More <i
                class="fa fa-angle-right"></i></button>
    </div>
</div>