<div class="container">
  <div class="event-title active-link text-center my-lg-3 event-p">Events and Functions</div>

  <div class="event-sub-title text-center my-3 mb-lg-5 mb-4 event-h">Recent Events</div>

  <div class="event-tiles-container">
    <div class="row d-flex align-items-center display-respons">
      <div class="col-lg-6 col-12 eve-1 my-2">
        <div class="event-tile event-1">
          <div class="icon-eb">
            <span><img src="../../../assets/icons/calender.png" class="icon-eve mx-1" />November
              07,2019</span><span>
              <img src="../../../assets/icons/comment.png" class="icon-eve mx-1" />5 Comments</span>
          </div>
          <!-- <img src="../../../assets/image/event2.png" alt=""> -->
          <div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center my-2">
        <div class="event-tile event-2">
          <div class="icon-eb">
            <span><img src="../../../assets/icons/calender.png" class="icon-eve mx-1" />November
              07,2019</span><span>
              <img src="../../../assets/icons/comment.png" class="icon-eve mx-1" />5 Comments</span>
          </div>

          <!-- <img src="../../../assets/image/event1.png" alt=""> -->
        </div>
      </div>
    </div>
  </div>
  <div class="text-center my-lg-5">
    <a href="javascript:void(0)" routerLink="/activities">
    <button type="button" class="shadow-lg btn btn-primary button-rounded px-4 py-3 mt-4 mt-lg-3">See More <i
        class="fa fa-angle-right"></i></button>
      </a>
  </div>
</div>
