<div class="activities-list-section">
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-md-5 img_1 activity_img"
        (click)="navigateTo('curriculum')"
      >
        <div class="header">
          <h1>Curriculum</h1>
          <p>{{ curriculumText }}</p>
        </div>
      </div>
      <div
        class="col-md-5 img_2 activity_img"
        (click)="navigateTo('co-curricular')"
      >
        <div class="header">
          <h1>Co-Curricular</h1>
          <p>{{ coCurricularText }}</p>
        </div>
      </div>
      <div class="col-md-5 img_3 activity_img" (click)="navigateTo('sports')">
        <div class="header">
          <h1>Sports</h1>
          <p>{{ sportsText }}</p>
        </div>
      </div>
      <div
        class="col-md-5 img_4 activity_img"
        (click)="navigateTo('stage-exposure')"
      >
        <div class="header">
          <h1>Stage Exposure</h1>
          <p>{{ stageExposureText }}</p>
        </div>
      </div>
      <div
        class="col-md-5 img_5 activity_img"
        (click)="navigateTo('discovery')"
      >
        <div class="header">
          <h1>Discovery</h1>
          <p>{{ discoveryText }}</p>
        </div>
      </div>
      <div class="col-md-5 img_6 activity_img" (click)="navigateTo('clubs')">
        <div class="header">
          <h1>Clubs</h1>
          <p>{{ clubsText }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-overlay>
  <div id="carouselImageList" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div
        *ngFor="let data of imageListInCarousel; let i = index"
        class="carousel-item"
        [ngClass]="i === 0 ? 'active' : ''"
      >
        <img [src]="data" alt="eventImageCarousel"/>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselImageList"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselImageList"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<!--  TODO Use <app-activity-display>-->
</app-overlay>
