@import "../../../../assets/styles/variables.scss";

.activities-list-section {
  width: 100%;
  padding: 5em 0 2em 0;
  background: $white-primary;
}

.activity_img {
  height: 30em;
  width: 100%;
  opacity: 0.9;
  margin: 0 2.5% 5% 2.5%;
  position: relative;
  cursor: pointer;
}
.img_1 {
  //   background: url("/assets/img/kids_library.jpg") bottom;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("/assets/img/activities/curriculum/thumbnail.jpg");

  background-size: cover;
  background-position: bottom;
}

.img_2 {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("/assets/img/kids_painting.jpg");

  background-position: bottom;
  background-size: cover;
}

.img_3 {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("/assets/img/kids_race.jpg");

  background-position: bottom;
  background-size: cover;
}

.img_4 {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("/assets/img/activities/stage-exposure/thumbnail.jpg");

  background-position: bottom;
  background-size: cover;
}

.img_5 {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("/assets/img/activities/discovery/thumbnail.jpg");

  background-position: bottom;
  background-size: cover;
}

.img_6 {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("/assets/img/activities/clubs/thumbnail.jpg");

  background-position: bottom;
  background-size: cover;
}

.header {
  position: absolute;
  color: $white-primary;
  text-align: center;
  top: 10%;
  text-shadow: 0 1px 0 black;
  font-family: sans-serif;

  h1 {
    text-transform: uppercase;
    font-weight: 700;
  }
  p {
    font-size: 1.1em;
  }
}

@media (max-width: 1024px){
  .act-h1{
    font-size: 30px !important;
  }
}

@media only screen and (min-width: 750px) and (max-width: 990px) {
  .activities-list-section {
    .header > h1{
      font-size: 1.4em;
    }
    p {
      font-size: 1em;
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .activities-list-section {
    .header > h1{
      font-size: 1.4em;
    }
    p {
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: 400px) {
  .activities-list-section {
    .header > h1{
      font-size: 1.2em;
    }
    p {
      font-size: 0.8em;
    }
  }
}
