<!-- Hero -->
<section class="cur-bg">
  <div class="container">
    <div class="row cur-sec">
      <h1 class="top-h">Curriculum</h1>
      <div class="cur-img">

      </div>
    </div>
  </div>
</section>

<!-- Help -->

<section>
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="heading3">
          Help your child master key developmental milestones in a safe and loving environment.
        </h3>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <p class="p-cen para">We are committed to providing rich experiences to promote cognitive, social, and
          emotional
          development and ensure students have a solid foundation needed for lifelong learning. With a
          student-centered approach, students are active participants in their own learning.</p>
      </div>
    </div>
   
  </div>
</section>


<section class="cur-sec1 cur-bg1 d-none">
  <div class="container">
    <div class="row px-5">
      <div class="row">
        <h5 class="cur-gap abt-h2"><span class="color-tx">Focusing</span> on the whole child</h5>
        <h5 class="cur-gap abt-h2"><span class="color-tx">Challenging</span> every child</h5>
        <h5 class="cur-gap abt-h2"><span class="color-tx">Sustaining</span>momentum</h5>
      </div>
    </div>
  </div>
</section>

<!-- Learn -->
<section class="cur-sec2">
  <div class="container">
    <div class="row">
      <h2 class="heading2">What childern will learn at small wonders</h2>
      <p class="txt-c para">Mark Twain said "Twenty years from now you will be more disappointed by the things you
        did not do than
        by the ones you did. So throw off the bowlines, sail away from the safe harbor. Catch the trade
        winds in your sail".</p>
    </div>

    <div class="row cur-top">
      <div class="col-lg-6">
        <h3 class="heading-3 mt-5">Exploring and interacting with
          the world</h3>
        <p class="para2">We support the development of children’s linguistic and mathematical skills and strengthen
          children’s relationship with nature and the environment through science and environmental
          education.</p>
        <div class="row">
          <div class="col-lg-6">
            <span class="abt-h1 cur-ht para2">Linguistic Skills</span>
          </div>
          <div class="col-lg-6">
            <span class="abt-h1 cur-ht para2">Mathematical Skills</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <span class="abt-h1 cur-ht para2">Science and Social Skills</span>
          </div>
          <div class="col-lg-6">
            <span class="abt-h1 cur-ht para2">Animation Skills</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 cur-img4">
        <img src="../../../assets/image/curri1.png" alt="img" class="cur-img-1" />
      </div>
    </div>



    
  </div>
</section>



<!-- second -->
<section>
  <div class="container">
    <div class="row container1">
      <div class="col-lg-6 cur-img3">
        <img src="../../../assets/image/curri2.png" alt="img" class="cur-img-3" />
      </div>
      <div class="col-lg-6">
        <h3 class="heading-3 mt-5">Understanding the world
          we live in</h3>
        <p class="para2">We support children in understanding the diversity in their local community, as well as the
          practices that activate respect for diversity. We support children’s growth as conscious human
          beings and help them to understand what it means to be an ethically responsible member of
          society.</p>
        <div class="row">
          <div class="col-lg-6">
            <span class="abt-h1 cur-ht para2">Cultural Competence</span>
          </div>
          <div class="col-lg-6">
            <span class="abt-h1 cur-ht para2">Socio-Emotional Skills</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- third -->
<section class="cur-top">
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-6">
        <h3 class="heading-3 mt-5">Learning forms of expression
        </h3>
        <p class="para2">We familiarize them with different art forms and their cultural heritage. We offer children
          opportunities to express themselves through musical activities, visual arts/crafts and
          bodily/verbal expression.</p>
        <div class="row">
          <div class="col-lg-6">
            <span class="abt-h1 cur-ht para2">Musical Activities
            </span>
          </div>
          <div class="col-lg-6">
            <span class="abt-h1 cur-ht para2">Crafts & Visual Expression
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <span class="abt-h1 cur-ht para2">Verbal & Physical Expression
            </span>
          </div>
          <div class="col-lg-6">
            <!-- </span> -->
          </div>
        </div>

      </div>
      <div class="col-lg-6 cur-img4">
        <img src="../../../assets/image/curri3.png" alt="img" class="cur-img-4" />
      </div>
    </div>
  </div>
</section>

<!-- fourth -->
<section class="cur-top cur-bot">
  <div class="container">
    <div class="row container1">
      <div class="col-lg-6 cur-img3">
        <img src="../../../assets/image/curri4.png" alt="img" class="cur-img-5" />
      </div>
      <div class="col-lg-6 mt-5">
        <h3 class="heading-3 mt-5">Practicing a healthy way of living
        </h3>
        <p class="para2">We focus on building a strong foundation for a healthy way of living which consists of physical
          activity, nutrition, rest, self-care and care of others. This learning area supports other
          learning areas and helps children manage their daily life and routines.</p>
        <div class="row">
          <div class="col-lg-6">
            <span class="abt-h1 cur-ht para2">Socio-emotional Competence
            </span>
          </div>
          <div class="col-lg-6">
            <span class="abt-h1 cur-ht para2">Physical Wellbeing</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="container">
<div class="row my-5">
  <div class="col-lg-6 media-box1">
    <div class="est-box">
    <h5 class="abt-h2"><span class="color-tx">Establishing</span> a love for learning</h5>
    <p class="para2">Our youngest learners are cared for and taught crucial developmental skills by doing what they love best - playing. 
      We take an experiential approach, so your child will be an active participant in their own learning. 
      Through music, creative movement, and sensory activities we help your child hit developmental milestones and solidify the essentials including letters, numbers, shapes, and colors.</p>
    </div>
  </div>
  <div class="col-lg-6">
    <!-- <img src="../../../assets/image/curri.png" alt="ractangle" class="img-fluid cur-img1" /> -->
    <div class="est-box2">
      <h5 class="abt-h2"><span class="color-tx">Focusing</span> on the whole child</h5>
      <p class="para2">Children in grades KG - 2 thrive in an experiential environment designed to leverage their natural 
        curiosity and joy of learning. Empowered problem solvers and collaborators are encouraged to think big, synthesize and test ideas and celebrate the learning process. 
        
        Academics integrated with movement, fine arts, character- based leadership .</p>
      </div>
  </div>


  <div class="col-lg-5">
    <!-- <img src="../../../assets/image/curri.png" alt="ractangle" class="img-fluid cur-img1" /> -->
  </div>


  <div class="col-lg-7 media-box">
    
  </div>
 

  <div class="col-lg-6 media-box">
    <div class="est-box3">
    <h5 class="abt-h2"><span class="color-tx">Challenging</span> every child</h5>
    <p class="para2">Uncovering academic passions, moral compass setting, social skills and leadership development are the work of students in grades 3-5.

      Small wonders engages this dynamic window of development with academic personalization, mentoring relationships and experiential learning to develop students who are confident to embrace and share their gifts to impact the world.</p>
    </div>
  </div>
  <div class="col-lg-6">
    <!-- <img src="../../../assets/image/curri.png" alt="ractangle" class="img-fluid cur-img1" /> -->
    <div class="est-box">
      <h5 class="abt-h2"><span class="color-tx">Sustaining</span> momentum</h5>
      <p class="para2">In grades 6 and over we develop children who are capable, self-reliant and have a strong sense of self. Our classroom environments are developmentally appropriate, well prepared, positive and warm. We welcome each child to engage in building skills of independence, concentration, order and coordination. 
        Through hands-on, self directed, and collaborative learning, children learn a plethora of skills.</p>
      </div>
  </div>


  <div class="col-lg-5">
    <!-- <img src="../../../assets/image/curri.png" alt="ractangle" class="img-fluid cur-img1" /> -->
  </div>

  <div class="col-lg-7 media-box">
    
  </div>
 


</div>
</div>