@import "../../../../assets/styles/variables.scss";

.learning-env-section {
  width: 100%;
  padding: 3em 0;
  background: $background-primary-light;

  h3 {
    text-align: center;
    text-transform: uppercase;
    color: $button-primary;
  }
}

.heading {
  font-size: 1.25em;
  font-weight: 900;
}
