@import "../../../../assets/styles/variables.scss";

.directors-section {
  width: 100%;
  padding: 3em 0;
  background: $background-primary-light;
}
.container{
  padding: 3em 0;
  background: #f9f6f1;
}