<div class="home-intro-section">
  <div class="container">
    <div class="sw_title">
      <h3>
        Small Wonders is a Place where children find their true purpose
<!--        <span>Find their true purpose</span>-->
      </h3>
      <p>
        We are committed to providing rich experiences to promote cognitive, social, and emotional development and
        ensure students have a solid foundation needed for lifelong learning. With a student-centered approach, students
        are active participants in their own learning.
      </p>
    </div>
    <div class="container">
      <div class="sw_items">
        <div class="sw_item sw_item1">
          <a href="/about-us/history"
            ><figure><img src="/assets/img/home-intro-img-1.png" /></figure>
            <p>
              Our<br />
              History
            </p></a
          >
        </div>
        <div class="sw_item sw_item2">
          <a href="/#"
            ><figure><img src="/assets/img/home-intro-img-2.png" /></figure>
            <p>
              Our<br />
              Philosophy
            </p></a
          >
        </div>
        <div class="sw_item sw_item3">
          <a href="/#"
            ><figure><img src="/assets/img/home-intro-img-3.jpg" /></figure>
            <p>Meet Our Team</p></a
          >
        </div>
        <div class="sw_item sw_item4">
          <a href="/admissions"
            ><figure><img src="/assets/img/home-intro-img-4.jpg" /></figure>
            <p>Admission</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
