<div class="home-intro-section">
  <div class="container">
    <div class="sw_title">
      <h3 data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        Small Wonders is a Place Your Child Learns To
        <span>Respect Others</span>
      </h3>
      <p data-aos="fade-up">
        Educating children is our mission and YOU the parents are our customers.
        Our programs are designed to offer parents flexibility while maximizing
        the benefits to our students.
      </p>
    </div>
    <div data-aos="zoom-out-up" class="sw_items">
      <div class="sw_item sw_item1">
        <a href="/#"
          ><figure><img src="/assets/img/home-intro-img-1.png" /></figure>
          <p>
            Our<br />
            History
          </p></a
        >
      </div>
      <div class="sw_item sw_item2">
        <a href="/#"
          ><figure><img src="/assets/img/home-intro-img-2.png" /></figure>
          <p>
            Our<br />
            Philosophy
          </p></a
        >
      </div>
      <div class="sw_item sw_item3">
        <a href="/#"
          ><figure><img src="/assets/img/home-intro-img-3.png" /></figure>
          <p>Meet Our Team</p></a
        >
      </div>
      <div class="sw_item sw_item4">
        <a href="/#"
          ><figure><img src="/assets/img/home-intro-img-4.png" /></figure>
          <p>Admission</p></a
        >
      </div>
    </div>
  </div>
</div>
