.home-intro-section {
  width: 100%;
  padding: 3em 0;
  background: #fff;
}

.sw_title {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;

  h3 {
    span {
      background: url(/assets/img/splash-color.png) no-repeat 50%;
      font-family: "Shadows Into Light Two", cursive;
      color: #fff;
      font-weight: 400;
      font-size: 19px;
      padding: 5px 34px;
    }
  }

  p {
    font-size: 16px;
    color: #111;
    padding: 0 34px;
    font-style: italic;
  }
}

.sw_items {
  display: flex;
  justify-content: center;
  background: url(/assets/img/home-intro-bg-pencil.png) no-repeat 50%;
}

.sw_item {
  text-align: center;
  margin: 0 20px;

  figure {
    margin: 0 0 10px;
    padding: 5px 5px 15px;
    background: #fff;
    box-shadow: 0 0 9px #999;
  }

  a {
    text-decoration: none;
  }

  p {
    line-height: 20px;
    color: #8a2b3d;
    font-weight: 700;
    font-size: 19px;
  }
}

.sw_item1 {
  transform: rotate(-3deg) translate(-70px, 74px);
}

.sw_item2 {
  transform: rotate(8deg) translate(-20px, 110px);
}

.sw_item3 {
  transform: rotate(2deg) translateY(36px);
}

.sw_item4 {
  transform: rotate(-2deg) translateY(55px);
}
