<div class="container my-5">
    <div class="text-center banner-content p-lg-5 py-5 py-2">
        <div class="banenr-header">If you're looking for a free-flowing,
            non-restrictive learning Environment
            <span class="primary-color">Small Wonders</span> is for you.</div>


        <div class="banenr-text my-lg-5 p-lg-3 my-4">
            Our commitment is to be the best school possible. Contact us today to see if we are a fit for you.
        </div>
        <button type="button" class="shadow-lg btn btn-primary button-rounded px-4 py-3" (click)="navigateToContact()">Contact us <i
                class="fa fa-angle-right"></i></button>
    </div>
</div>