.banner-content {
    background: rgba(180, 135, 76, 0.3);
    border-radius: 40px;
    padding: 4rem !important;
    padding-left: 10rem !important;
    padding-right: 10rem !important;

    .banenr-header {
        font-size: 50px;
        font-weight: bold;
        line-height: 1.2;
        color: #0A033C;
    }

    .banenr-text {
        line-height: 1.4;
        color: #5F5F5F;
        font-size: 18px;

        padding-left: 9rem !important;
        padding-right: 9rem !important;
    }
}

@media only screen and (max-width: 480px) {
    .banner-content {
        padding: 3rem !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;

        .banenr-header {
            font-size: 29px;
            line-height: 1.4;
        }

        .banenr-text {
            padding-left: 1rem !important;
            padding-right: 1rem !important;
            font-size: 12px;
            line-height: 1.8;
        }
    }
}