<div class="container-fluid  bann-bg"></div>

<div class="container-fluid my-5 mt-3" id="contact-us">
  <div class="text-center banner-content p-lg-5 py-5 py-2">
    
    <div class="pri-c">
      
      <div class="content">
        
        <div class="content__container">
          
          <ul class="content__container__list">
            
            <li class="content__container__list__item">
              If you're looking for a free-flowing, non-restrictive
              <br>learning Environment <span class="primary-color" >Small Wonders is for you.
              </span>
              </li> 
               
           
            </ul>
            
            
          
        </div>
      </div>
      
    </div>
    <div class="banenr-text p-lg-3 bann-p">      
      Our commitment is to be the best school possible. Contact us today to see
      if we are a fit for you.
    </div>
    <button
      type="button"
      class="shadow-lg btn btn-primary button-rounded px-4 py-3"
      (click)="navigateToContact()">
      Contact us <i class="fa fa-angle-right"></i>
    </button>
  </div>
</div>


