<!-- Hero -->
<!-- <section>
  <div class="container-fluid">
    <div class="row">
      <h1 class="act-h1">Pedagogy</h1>

    </div>
  </div>
</section> -->
<section class="">
  <div class=" act-bg_ped">
    <div class="container-fluid">
      <div class="row">
        <div class="act-imgg">

        </div>
      </div>
    </div>
  </div>
</section>

<!-- box -->
<section class="my-5">
  <div class="container">
    <div class="row py-3">
      <h2 class="mb-3 peda-h">Pillars of our Pedagogy</h2>
      <div class="col-lg-4">
        <div class="ped-box1 border_style" style="background-image: none;">
          <h5 class="ped-h5  ps-0 mb-3">Children learn While they play</h5>
          <p class="text-dark fw-normal"> Children do not play so that they can learn, but rather they learn while they play. There are various forms and levels of play and a professional teacher knows how to foster play with countless possibilities for children to learn. 
            Play can happen through more organised activities or through free play, where the teacher’s role is to guide, document, and participate to enhance learning.</p>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="ped-box2 border_style" style="background-image: none;">
          <h5 class="ped-h5  ps-0 mb-3" >Learning by Exploring</h5>
          <p class="text-dark fw-normal">Children also learn through guided experimentation and this is achieved by doing projects. The term “project-based learning” is part of our educational approach and involves a collaborative effort between children and teachers. Facilitators draw inspiration from thoughtfully designed concepts and select a suitable project that fits the child's developmental age, based on the topic that's being explored.
          </p>
        </div>
      </div>

      <div class="col-lg-4 ">
        <div class="ped-box2 border_style" style="background-image: none;">
          <h5 class="ped-h5  ps-0 mb-3">Learning Happens                  Everywhere</h5>
          <p class="text-dark fw-normal">Children are learning in every moment, whether it’s putting on their own shoes; pouring themselves water or learning about science through a hands-on project. The facilitator's role is to enhance this situational learning. We encourage play based learning as children inherently love to play and this creates a sense of inquiry among learners.
          </p>
        </div>
      </div>

      <div class="col-lg-4 d-none">
        <!-- <div class="ped-box3">
          <h5 class="ped-h5">Learning Happens<br> Everywhere</h5>
          <p class="ped-p para">Children are learning every moment of the day, whether it’s putting on your own
            shoes;</p>
          <div class="dots-container">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div> -->

        <div class="ped-box3">
          <div class="slider-container">
            <div class="slider">
              <div class="slide">
                <h5 class="ped-h5">Learning Happens<br> Everywhere</h5>
                <p class="ped-p para">Children are learning every moment of the day, whether it’s putting on your own
                  shoes;</p>
              </div>
              <div class="slide">
                <h5 class="ped-h5">Learning Happens<br> Everywhere</h5>
                <p class="ped-p para">Children are learning every moment of the day, whether it’s putting on your own
                  shoes;</p>
              </div>
              <div class="slide">
                <h5 class="ped-h5">Learning Happens<br> Everywhere</h5>
                <p class="ped-p para">Children are learning in every moment, whether it’s putting on their own shoes; pouring themselves water or learning about science through a hands-on project. The facilitator's role is to enhance this situational learning.
                </p>
              </div>
              <div class="slider-dots">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- learn -->
<section class="ped-learn py-5">
  <div class="container">
    <div class="row py-3">
      <h2 class="mb-3">Learning 
        Environment</h2>
      <div class="col-lg-4">
        <div class="ped-box4">
          <h5 class="ped-lh">Providing Inspired and highly trained Faculty</h5>
          <p class="ped-lp">  Our teachers look at the world through the child's perspective because each one learns in different ways and at a different pace. We provide teachers with tools and guidance to accommodate a child’s natural curiosity and to fully support each child.
          </p>
          
        </div>
      </div>
      <div class="col-lg-8">
        <div class="ped-box4">
          <h5 class="ped-lh"> Providing highly researched international curriculum </h5>
          <p class="ped-lp">Our teachers look at the world through the child's perspective because each one learns in different ways and at a different pace. We provide teachers with tools and guidance to accommodate a child’s natural curiosity and to fully support each child. We highly value our teachers and recognize them as educators whose role is very influential in child’s learning.</p>
          
        </div>
      </div>
    </div>
    <div class="row py-4">
      <div class="col-lg-4">
        <div class="ped-box4">
          <h5 class="ped-lh">Safe Sanctuaries for learning</h5>
          <p class="ped-lp">All of us know that physical surroundings can impact our behaviour, thoughts, emotions, and well-being. We know children learn with all five senses; our school is more than just functional spaces. Our creative learning spaces are specifically designed to support our curriculum and daily activities, providing children with a safe, calm, and stress-free learning environment.
          </p>
          
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ped-box4">
          <h5 class="ped-lh">Mixed age groups</h5>
          <p class="ped-lp">Children have all the facilities to learn in different age group to explore the mental, verbal, and logical skills in different environment. It gives the opportunity to them to understand their own mental levels and mingle with the students beyond their own age.
          </p>
          
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ped-box4">
          <h5 class="ped-lh">Rich language environment</h5>
          <p class="ped-lp">Students are given environment to learn other languages also along with English and their mother tongue. They have the option to choose that medium of expression in which they are more comfortable to express themselves fully.
          </p>
          
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Learn for mobile -->

<section class="ped-learn1 py-5">
  <div class="container">
    <div class="row">
      <div class="ped-mb">
        <div class="ped-box4">
          <h5 class="ped-lh">Providing Inspired and highly trained Faculty</h5>
          <p class="ped-lp">Our teachers look at the world through the child's perspective because each
            one learns in
            different ways and at a different pace.</p>
          <!-- <button class="bttn">Read More</button> -->
        </div>
        <div class="ped-box4">
          <h5 class="ped-lh">Safe Sanctuaries for learning</h5>
          <p class="ped-lp">All of us know that physical surroundings can impact our behaviour, thoughts, emotions, and well-being. We know children learn with all five senses; our school is more than just functional spaces. Our creative learning spaces are specifically designed to support our curriculum and daily activities, providing children with a safe, calm, and stress-free learning environment.</p>
         
        </div>

        <div class="ped-box4">
          <h5 class="ped-lh">Providing highly researched international curriculum</h5>
          <p class="ped-lp">Our teachers look at the world through the child's perspective because each one learns in different ways and at a different pace. We provide teachers with tools and guidance to accommodate a child’s natural curiosity and to fully support each child. We highly value our teachers.</p>
         
        </div>

        <div class="ped-box4">
          <h5 class="ped-lh">Mixed age groups</h5>
          <p class="ped-lp">Children have all the facilities to learn in different age group to explore the mental, verbal, and logical skills in different environment. It gives the opportunity to them to understand their own mental levels and mingle with the students beyond their own age.</p>
         
        </div>

        <div class="ped-box4">
          <h5 class="ped-lh">Rich language environment</h5>
          <p class="ped-lp">Students are given environment to learn other languages also along with English and their mother tongue. They have the option to choose that medium of expression in which they are more comfortable to express themselves fully.</p>
         
        </div>

        

        <!-- <div class="dots-container mt-3">
          <div class="dot1"></div>
          <div class="dot1"></div>
          <div class="dot1"></div>
        </div>-->
      </div> 

    </div>
  </div>
</section>
