@import "../../../assets/styles/variables.scss";

.day-section {
  width: 100%;
  padding: 3em 0;
  background: $background-primary-light;

  h3 {
    text-transform: uppercase;
  }
  img {
    width: 100%;
    height: 10em;
  }
}

.children-learn-section {
  width: 100%;
  padding: 3em 0;
  background: $white-primary;

  h3 {
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 600px) {
  .day-section, .children-learn-section{
    padding: 1em 0;
    .container {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}


@media only screen and (min-width: 400px) and (max-width: 600px) {
  .day-section, .children-learn-section {
    p {
      font-size: 1em;
    }
    h3 {
      font-size: 1.5em;
    }
  }
}

@media only screen and (max-width: 400px) {
  .day-section, .children-learn-section {
    p {
      font-size: 0.8em;
    }
    h3 {
      font-size: 1.25em;
    }
  }
}
