.image-right-text-info-block {
  width: 100%;
  padding: 3em 0;
  background: #fff;
  img{
    height: 100%;
  }
  h5{
    color: #8a2b3d;
    font-weight: bolder;
  }
  h2{
    color: black;
    font-weight: bolder;
  }
}
