@import "../../../../assets/styles/variables.scss";

.left-aligned-img {
  background: $background-primary-light;
  padding: 3em 0;

  img {
    width: 90%;
    height: 18em;
  }

  ul {
    list-style: none; /* Remove default bullets */
  }

  ul li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #000000;
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

  .section-title {
    font-size: 1.5em;
    font-weight: 800;
  }
}

a{
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .left-aligned-img {
    p {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .left-aligned-img {
    .section-title{
      font-size: 1.4em;
    }
    p {
      font-size: 1em;
    }
  }
  a{
    font-size: 1em;
  }
}

@media only screen and (max-width: 400px) {
  .left-aligned-img {
    .section-title {
      font-size: 1.2em;
    }

    p {
      font-size: 0.8em;
    }
  }
  a{
    font-size: 0.8em;
  }
}
