@import "../../../../assets/styles/variables.scss";

.age-break-section {
  width: 100%;
  padding: 3em 0;
  background: $white-primary;
}

::ng-deep .nav-btn {
  height: 41px !important;
  width: 41px !important;
}
::ng-deep .prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.5;
}
::ng-deep .prev-slide,
::ng-deep .next-slide {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
}

::ng-deep .prev-slide {
  background: url(/assets/img/prev-item.png) no-repeat;
  left: -50px !important;
}
::ng-deep .next-slide {
  background: url(/assets/img/next-item.png) no-repeat;
  right: -50px !important;
}

::ng-deep .slick-active {
  outline: none;
}

.age-break-box {
  width: 90%;
  margin: auto;
  border-radius: 15px;
  text-align: center;
  color: $white-primary;

  &__desc {
    padding: 10px;

    p {
      margin-bottom: 0;
    }
  }

  h2 {
    font-size: 1.8em;
  }

  figure {
    width: 100%;
    height: 14em;

    img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }
}

.slide:nth-child(3n + 1) .age-break-box {
  background: #f5580a;
}

.slide:nth-child(3n + 2) .age-break-box {
  background: #05a70e;
}

.slide:nth-child(3n + 0) .age-break-box {
  background: #d2ba16;
}

@media only screen and (max-width: 1000px) {
  .age-break-box {
    width: 80%;
    margin: auto;
  }
}
