.more-to-explore {
  width: 100%;
  padding: 3em 0;
  background: #fff;

  .rocketImage {
    background: url("/assets/img/bg-widget-5.png") no-repeat;
    width: 83px;
    height: 90px;
    position: absolute;
    left: 20%;
  }

  img {
    border-radius: 10px;
    //width: 100%;
    height: auto;
    max-height: 11em;
    margin-bottom: 1em;
  }

  p {
    font-size: 1.5em;
    font-weight: 600;
  }
}
