<div class="contact-form-section">
<!--  <div class="cf_img_1"></div>-->
  <div class="cf_img_2"></div>
  <div class="cf_img_3"></div>

  <div class="container">
    <div class="row">
<!--      <div class="col-md-5 order-12 order-md-1 text-center">-->
<!--        <img src="/assets/img/rainbow-kid.png" class="contact-form-image" />-->
<!--      </div>-->
      <div class="col-md-7 order-1 order-md-12 text-left">
        <div class="con-form">
          <h3>Contact Us</h3>
          <p>You have questions? Contact us today, we’re here to help.</p>
          <form>
            <div class="form-row">
              <div class="col">
                <div role="group" class="form-group">
                  <div class="bv-no-focus-ring">
                    <input
                      placeholder="First Name *"
                      required="required"
                      aria-required="true"
                      class="form-control"
                      type="text"
                    />
                  </div>
                </div>
              </div>
              <div class="col">
                <div role="group" class="form-group" id="__BVID__103">
                  <div class="bv-no-focus-ring">
                    <input
                      placeholder="Last Name *"
                      required="required"
                      aria-required="true"
                      class="form-control"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div role="group" class="form-group" id="__BVID__105">
                  <div class="bv-no-focus-ring">
                    <input
                      type="email"
                      placeholder="Email Address *"
                      required="required"
                      aria-required="true"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="col">
                <div role="group" class="form-group" id="__BVID__107">
                  <div class="bv-no-focus-ring">
                    <input
                      placeholder="Phone Number *"
                      required="required"
                      aria-required="true"
                      class="form-control"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div role="group" class="form-group" id="__BVID__109">
              <div class="bv-no-focus-ring">
                <textarea
                  placeholder="Write Message"
                  rows="3"
                  wrap="soft"
                  type="text"
                  class="form-control"
                ></textarea>
              </div>
            </div>
            <button class="btn mbtn mt-2">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <HR WIDTH="75%" COLOR="#FF0000" SIZE="4">
</div>
