<!-- form -->


    <div class="con">
    <h1 class="text-center"> Contact us </h1>
    </div>
    

<section class="form-sec">
  <div class="container from-sec2">
    <div class="row form-bg">
      <div class="col-md-12 col-lg-7 col-xl-7 col-xxl-8 p-lg-5 p-4">
        <h5>Let 's Capture Wonder</h5>
        <h3 class="get-h">Get in touch</h3>
        <form class="row g-3 pt-4">
          <div class="col-md-6">
            <input type="text" class="form-control" id="inputFisrtName" placeholder="First Name">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
          </div>
          <div class="col-md-6">
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="col-md-6">
            <input type="password" class="form-control" id="inputPassword4" placeholder="Phone">
          </div>
          <div class="col-12">
            <textarea type="text" class="form-control" id="inputMessage" placeholder="Message"></textarea>
          </div>

          <div class="col-12 text-lg-end">
            <button type="submit" class="btn btn-primary1">Send Message <i class="fa fa-angle-right"></i> </button>
          </div>
        </form>
      </div>
      <div class="col-md-12 col-lg-5 col-xl-5 col-xxl-4 con-sec2">
        <p class="con-p para"> Thank you for your interest in Small Wonders. 
          We look forward to hearing from you and serving you in any way we can. 
          Please feel free to use the form or contact us by phone or email.</p>
        <hr>
       
        <li class="con-li"><span><i class="fa fa-phone con-icon" aria-hidden="true"></i> 0180-2666666
          </span></li>
          <li class="con-li"><span><i class="fa fa-phone con-icon" aria-hidden="true"></i> 9138-222-500
          </span></li>
          <li class="con-li"><span><i class="fa fa-phone con-icon" aria-hidden="true"></i> 9138-222-700
          </span></li>
      
        <li class="con-li"><span class="con-tx"><i class="fa fa-envelope con-icon"
              aria-hidden="true"></i>smallwonders2002@gmail.com
          </span></li>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row map-img">
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d93544.49086729268!2d76.90479063738958!3d29.38879068036416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1ssmall%20wonders%20school%20panipat!5e0!3m2!1sen!2sin!4v1739951484238!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <!-- <img src="../../../../assets/image/mapimg.jpg" alt="" class="map" /> -->
    </div>
  </div>
</section>


<!-- <section>
   <div class="container-fluid">
     <div class="row contact-bg">
       <h1 class="hom-ch">Contact Us</h1>
       <p>You have questions? Contact us today, we’re here to help.</p>
     </div>
   </div>
 </section> -->
