<div>
  <div class="curr-box">
    <a href="/events-and-gallery" class=""
      ><figure><img [src]="imgSrc" /></figure>
      <div class="event-card-date">
        <div><i class="fa fa-calendar"></i> {{ date }}</div>
        <div><i class="fa fa-commenting"></i> {{ numComments }} comments</div>
      </div>
      <h3>{{ title }}</h3></a
    >
    <div class="curr-box-desc">
      <p>
        {{ content }}
        <a href="/events-and-gallery" class="">View gallery</a>
      </p>
    </div>
  </div>
</div>
