@import "../../../assets/styles/variables.scss";

.curr-box {
  background: #fff;
  border-radius: 15px;
  text-align: center;
  width: 90%;
  margin: auto;

  a {
    text-decoration: none;
  }

  img {
    width: 100%;
  }
}

.curr-box-desc {
  padding: 8px 10px 10px;

  a {
    color: $button-primary;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.card-img {
  width: 100%;
  height: 12em;
}

.divider-img {
  display: unset;
}

.event-card-date {
  padding: 0 0 5px;
  margin: 10px;
  border-bottom: 2px dashed #ddd;
  display: flex;
  font-size: 12px;
  color: #333;
  justify-content: space-between;
}

@media only screen and  (max-width: 1000px) {
  .curr-box {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .curr-box {
    padding: 0px 0px 0px;
  }
}
