@import "./variables.scss";
@import "../css/about.scss";

body {
  margin: 0;
  // font-family: "Nunito", sans-serif;
  background-color: #FDF8F2 !important;
  font-family: 'Poppins' !important;
  font-weight: 100 !important;

  .btn,
  .btn:hover,
  .btn:active,
  .btn:focus-visible {
    border-radius: 60px !important;
    background-color: $btn-primary !important;
    border-color: $btn-primary !important;
  }
}

.pointer-icon {
  cursor: pointer;
}

.relative {
  position: relative;
}

h3 {
  font-family: "Cabin Sketch", cursive;
}

a {
  text-decoration: none;
}

.navbar-container {
  background: $white-primary;
  margin-bottom: 3em;
  width: 100%;

  nav {
    margin-top: 0.5em;

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-around;
      margin: 0 8%;

      li {
        margin: 0.25em 0;
        a {
          color: $dark-primary;
          font-weight: 700;
          text-decoration: none;

          &:hover {
            font-weight: 700;
            color: $dark-primary;
            text-decoration: none;
            background: #e8e7e7;
            padding: 0.25em 0.4em;
            border-radius: 20px;
          }
        }
      }
    }
  }
}

.header-nav-item-active {
  background: #e8e7e7;
  padding: 0.25em 0.4em;
  border-radius: 20px;
}

.mbtn {
  background: $button-primary;
  padding: 10px 40px;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
  color: $white-primary;

  &:hover {
    color: $white-primary;
  }
}

hr.style-dotted {
  background-color: $white-primary;
  border-top: 1.5px dashed $dark-primary;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.header-info-container {
  width: 80%;
  margin: auto;

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }
}

.logo-img {
  width: 150px;
  height: auto;
  position: absolute;
  margin-left: -90px;
  left: 50%;
  background: $white-primary;
  z-index: 1000;
  padding: 1%;
  border-radius: 20px;
}

.icon-margins {
  margin: 0 0.5em;
}

// TODO
.footer {
  // background: $blue-primary;
  background: url(/assets/img/footer-background.png) repeat;
  margin-top: 20%;
  width: 100%;
  color: $white-primary;
  padding: 1% 0;

  li {
    a {
      color: $white-primary;
    }
  }
}

.footer-top-bar {
  display: flex;
  justify-content: space-between;
  margin: 2% 8%;
  height: 8em;
}

.footer-secondary-nav {
  ul {
    margin: 0 15%;

    li {
      a {
        font-weight: 600;
      }
    }
  }
}

hr.style-dotted-footer {
  background-color: $blue-primary;
  border-top: 1.5px dashed $white-primary;
  border-bottom: none;
  margin: 1% 8%;
}

.custom-input-box {
  input {
    font-size: 1em;
    border-radius: 20px;
    border: 0;
    padding: 0.6em 2em;
  }

  button {
    position: relative;
    right: 3em;
  }
}

.standard-img-wrapper,
.picsum-img-wrapper {
  img {
    width: 100%;
    height: 25em;
  }
}

.desktop-wrapper {
  display: block;
}

.active-link {
  color: $active-text-color !important;
}

.primary-color{
  color: $btn-primary;
}

@media only screen and (max-width: 480px) {
  .desktop-wrapper {
    display: none;
  }
}


// .banner-slide.slick-slide.slick-current ~ .slick-slide {
//   transform: rotate3d(20deg);
// }  