$white-primary: #fff;
$dark-primary: #8c8b8b;

$button-primary: #8a2b3d;
$blue-primary: #2e5077;

$background-primary-light: #f9f6f1;
$shadow-yellow: #ffc107;
$background-light-grey: #eee;


$btn-primary: #B4874C;
$active-text-color: #772234;
$theme-blue: #0A2D51;
