@import "../../../../assets/styles/variables.scss";

.location-explore-section {
  margin-top: 3em;
  width: 100%;
  padding: 3em 0;
  background: $white-primary;
}

.title_sec {
  text-align: center;
  margin: 0 0 2em;
}

.btn{
  color: white;
  background-color: #363434;
  border: none;
  border-radius: 0%;
}

::ng-deep .nav-btn {
  height: 41px !important;
  width: 41px !important;
}
::ng-deep .prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.5;
}
::ng-deep .prev-slide,
::ng-deep .next-slide {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
}

::ng-deep .prev-slide {
  background: url(/assets/img/prev-item.png) no-repeat;
  left: -50px !important;
}
::ng-deep .next-slide {
  background: url(/assets/img/next-item.png) no-repeat;
  right: -50px !important;
}

.location-explore-box {
  width: 85%;
  text-align: left;
  margin: auto;

  h2 {
    color: $button-primary;
  }

  &__desc {
    background: $background-light-grey;
    padding: 10px 10px 10px 20px;

    &__header {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .location-explore-box {
    width: 85%;
    margin: auto;
  }
}

@media only screen and (max-width: 400px) {
  .location-explore-box {
    width: 100%;
  }
}
