<!-- Mission -->
<div class="about-bg"></div>

<div class="section abt-sec">
  <div class="container">
    <div class="row abt-bg">
      <div class="col-12 col-lg-3 px-0">
        <a [routerLink]="['/about-us']">
          <h5 class="abt-h1 ht1 tab-button">About Us</h5>
        </a>
      </div>
      <div class="col-12 col-lg-3 px-0">
        <a [routerLink]="['/our-history']">
          <h5 class="abt-h1 ht2 tab-button">Our History</h5>
        </a>
      </div>
      <div class="col-12 col-lg-3 px-0">
        <a (click)="scrollToVision()">
          <h5 class="abt-h1 ht1 tab-button">Vision</h5>
        </a>
      </div>
      <div class="col-12 col-lg-3 px-0">
        <a (click)="scrollToMission()">
          <h5 class="abt-h1 tab-button">Mission</h5>
        </a>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container-fluid about-con">
    <div class="row">
      <div class="tab-content active">
        <h2 class="txt-c">About Us</h2>
        <div>
          <p class="about-p para">At Small Wonders, we seek to provide the most meaningful educational experience our students will have in their lives. Childhood is a period of life when everything is possible. It is a time to discover the world and all of the possibilities it holds. We believe that children are active agents in their own lives from a young age, and with age-appropriate considerations, we take their thoughts, ideas and opinions into account as we continuously develop our concepts and train our faculty to adapt and cultivate this approach. Students work collaboratively with classmates and teachers, who engage them in discovery opportunities that keep students interested and engaged in learning.</p>
        </div>
        </div>
        </div>
        </div>
    
</section>

 <section> 
          <div class="container">
          <div class="row top1">
             <!-- <div class="" id="missionSection" #missionSection>  -->
              <div class="col-lg-6 mission" id="missionSection" #missionSection>
                <h2 class="txt-c">Mission</h2>
                <p class="about-p para px-0 text-start">
                  At Small Wonders World School, our mission is to provide a nurturing, inclusive, and innovative learning environment that fosters the holistic development of every child. 
                  We aim to inspire a love for learning, creativity, and critical thinking, ensuring that each child grows academically, socially, and emotionally. 
                  Through personalized attention, dedicated educators, and a child-centered approach, we strive to empower our students to become confident, compassionate, and responsible global citizens.
                  By focusing on each child's individual strengths and needs, we aim to help them develop a love for learning that will last a lifetime, while ensuring they are equipped to succeed both academically and personally.
                </p>
              </div>
              <div class="col-lg-6 image1">
                <img class="img-fluid rounded-4 img_width-control" src="../../../assets/image/aboutm1.png" alt="">
              </div>
            </div> 
            <!-- </div> -->
          </div>
          <div class="container">
            <div class="row top2 ">
               <!-- <div class="col-md-12 " id="visionSection" #visionSection>   -->
                <div class="col-lg-6" id="visionSection" #visionSection>
                  <h2 class="txt-c">Vision</h2>
                  <p class="about-p para px-0 text-start">
                    Our vision is to be a leading institution in early childhood education, recognized for shaping young minds with excellence and integrity. 
                    We aim to create a future where every child is given the foundation they need to reach their fullest potential and succeed in an ever-evolving world.
                    We envision a world where Small Wonders World School is a place of discovery, joy, and empowerment, helping children build a strong foundation for lifelong learning.
                    By emphasizing holistic development—intellectual, emotional, and social—we envision a place where children develop a strong foundation for lifelong learning and become capable, well-rounded individuals ready to face future challenges with curiosity and resilience.
                  </p>
                </div>
                <div class="col-lg-6 image2 ">
                  <img class="img-fluid rounded-4 img_width-control" src="../../../assets/image/aboutv2.JPG" alt="">
                </div>
               </div> 
             <!-- </div>  -->
          </div>
          </section> 
        

<!-- At a Glance -->
<section class="bg-about">
  <div class="container">
    <div class="row">
      <h2 class="txt-c">At a Glance</h2>
    </div>
    <div class="row my-3">
      <div class="col-lg-9">
        <img src="../../../assets/image/meetat1.png" class="ab-img" alt="sw" />
      </div>
      <div class="col-lg-3 span-b text-center">
        <span><img src="../../../assets/image/aboutg1.png" class="img-fluid ab-img1" alt="sw" />
          <!-- <a href="javascript:void(0)" routerLink="" class="shadow-lg btn btn-primary btn-rounded px-lg-4 py-lg-2 contact-us my-3"> Our Parent Testimonials </a> -->
        </span>
        <span><img src="../../../assets/image/ab7.png" class="img-fluid ab-img1" alt="sw" />
        </span>
      </div>
    </div>
    <div class="row my-4">
      <button class="bttn3 ms-auto me-auto">View All</button>
    </div>
  </div>
</section>

<!---Our 5 E-->
<section class="act-bg2 py-5">
  <div class="container">
    <div class="row">
      <h2 class="txt-c">Our <span class="act-5E"><i>5E</i></span> way</h2>
      <p class="txt-c para">The Cornerstones To All That We Do...</p>
    </div>
    <div class="row txt-c pt-3  ab">
      <div class="col-12 col-lg-2 act-box11">
        <img src="../../../assets/image/ac-icon1.png" />
        <h5 class="ped-lh">Engage</h5>
      </div>
      <div class="col-12 col-lg-2 act-box11">
        <img src="../../../assets/image/act-icon1.png" />
        <h5 class="ped-lh">Explore</h5>
      </div>
      <div class="col-12 col-lg-2 act-box11">
        <img src="../../../assets/image/ac-icon2.png" />
        <h5 class="ped-lh">Explain</h5>
      </div>
      <div class="col-12 col-lg-2 act-box11">
        <img src="../../../assets/image/ac-icon3.png" />
        <h5 class="ped-lh">Elaborate</h5>
      </div>
      <div class="col-12 col-lg-2 act-box11">
        <img src="../../../assets/image/ac-icon4.png" />
        <h5 class="ped-lh">Evaluate</h5>
      </div>
    </div>
  </div>
</section>

<!-- Explore -->
<section class="my-5">
  <div class="container">
    <h2 class="about-h mb-3">There’s more to explore</h2>
    <div class="row about-cl">
      <div class="col-12 col-lg-3">
        <div class="ab-box">
          <a [routerLink]="['/curriculum']">
            <img src="../../../assets/image/aboutc1.png" class="img-fluid box-img" alt="sw" />
            <p class="text-center curr">Curriculum</p>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="ab-box">
          <a [routerLink]="['/activities']">
            <img src="../../../assets/image/aboutactivity.png" class="img-fluid box-img" alt="sw" />
            <p class="text-center curr">Activities</p>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="ab-box">
          <a [routerLink]="['/books-and-beyond']">
            <img src="../../../assets/image/aboutpeda.png" class="img-fluid box-img" alt="sw" />
            <p class="text-center curr">Pedagogy</p>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="ab-box">
          <a [routerLink]="['/our-gallery']">
            <img src="../../../assets/image/eventsgallery.png" class="img-fluid box-img" alt="sw" />
            <p class="text-center curr">Events & Gallery</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
