@import "../../../assets/styles/variables.scss";

// page specific elements
#nav-up-rectangle {
  width: 18em;
  height: 15em;
  background: $button-primary;
  box-shadow: 0 10px 30px -10px #000;

  ul {
    display: block;
    position: relative;
    top: 2em;
    margin: 0;
    li {
      border-bottom: solid 1px $white-primary;
      padding: 0 1em;
      a {
        color: $white-primary;
        font-weight: 500;
        font-size: 0.9em;
        &:hover {
          font-weight: 500;
          color: $white-primary;
          text-decoration: none;
          background: none;
          padding: 1em 0;
        }
      }
    }
  }
}
#nav-down-triangle {
  width: 0;
  height: 0;
  border-left: 9em solid transparent;
  border-right: 9em solid transparent;
  border-top: 3em solid $button-primary;
}

#nav-block {
  position: absolute;
  right: 4em;
  top: -5em;
}
