.accordion-container-block {
  width: 100%;
  padding: 3em 0;
  background: #fff;
}

.card{
  margin-bottom: 1%;
}

.card-body{
  border-top: 10px solid crimson;
}

.card-header{
  color: white;
  background-color: #363434;
}

.arrow{
  float: right; 
  color: white;
  font-size: 15px;
}