<!-- form -->
<section class="form-sec-1">
  <div class="container from-sec2">
    <div class="row form-bg-1">
      <div class="col-lg-7 col-xl-7 col-xxl-8 p-lg-0 c_form">
        <div class="contact-form">
        <div class="contact-inner-bg"></div>
            <div class="contact-content">
              <h4>Contact Us</h4>
              <p>Have questions? Contact us today
                <br>We are here to help.</p>
            </div>
            <div class="form-card">
              <div class="form-box home-contact">
                <form class="row g-2 g-lg-3 pt-4">
                  <div class="col-md-6">
                    <label for="inputPassword6" class="col-form-label form-lbl">First Name <span>*</span></label>
                    <input type="text">
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword6" class="col-form-label form-lbl">Last Name <span>*</span></label>
                    <input type="text">
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword6" class="col-form-label form-lbl">Email <span>*</span></label>
                    <input type="text">
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword6" class="col-form-label form-lbl">Phone <span>*</span></label>
                    <input type="text">
                  </div>
                  <div class="col-12">
                    <label for="inputPassword6" class="col-form-label form-lbl">Message<span>*</span></label>
                    <textarea type="text"></textarea>
                  </div>

                  <div class="col-12 text-lg-end my-4 btn-Send">
                    <button type="submit" class="btn btn-primary1">Send Message</button>
                  </div>
                </form>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-5 col-xl-5 col-xxl-4 con-sec2">
        <p class="con-p para"> Thank you for your interest in Small Wonders. 
          We look forward to hearing from you and serving you in any way we can. 
          Please feel free to use the form or contact us by phone or email.</p>
        <hr>
       
        <li class="con-li"><span><i class="fa fa-phone con-icon" aria-hidden="true"></i> 0180-2666666
          </span></li>
          <li class="con-li"><span><i class="fa fa-phone con-icon" aria-hidden="true"></i> 9138-222-500
          </span></li>
          <li class="con-li"><span><i class="fa fa-phone con-icon" aria-hidden="true"></i> 9138-222-700
          </span></li>
      
        <li class="con-li"><span class="con-tx"><i class="fa fa-envelope con-icon"
              aria-hidden="true"></i>smallwonders2002@gmail.com
          </span></li>
      </div>
    </div>
  </div>
</section>
