<app-background-img-text [title]="title" [bgImage]="bgImage"></app-background-img-text>
<!--<app-image-card-text [image]="bgImage" ></app-image-card-text>-->
<div class="admission-intro-text">
  <div *ngFor="let item of admissionInfoList">
    <app-admission-step
      [step]="item.step"
      [title]="item.title"
      [content]="item.content"
      [bulletList]="item.bulletList"
      [backgroundColor]="item.backgroundColor"
    ></app-admission-step>
  </div>
</div>
<div class="admission-applications">
  <div class="application-title">
    <br>
    <h5>2021-22 Application</h5>
    <h2>Eligibility </h2>
    <hr style="width: 60px;margin: auto;border: 1px solid white;">
    <br>
  </div>

  <div class="mx-auto" style="width: 60%;">
    <!--Row 1-->
    <div class="row">
      <div class="col-4">
        <div class="card">
         <div class="card-body">
           <a><h6 style="font-weight: 900;">GRADE</h6></a>
         </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">
           <a><h6 style="font-weight: 900;">AGE</h6></a>
         </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">
           <a><h6 style="font-weight: 900;">DATE BRACKET</h6></a>
         </div>
        </div>
      </div>

    </div>

    <!--Row 2-->
    <div class="row">
      <div class="col-4">
        <div class="card">
         <div class="card-body">
           Toddlers
         </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">2</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">01/08/2017 to 31/07/2018</div>
        </div>
      </div>

    </div>

    <!--Row 3-->
    <div class="row">
      <div class="col-4">
        <div class="card">
         <div class="card-body">(Pre-Nursery)</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">3</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">01/08/2016 to 31/07/2017</div>
        </div>
      </div>

    </div>

    <!--Row 4-->
    <div class="row">
      <div class="col-4">
        <div class="card">
         <div class="card-body">Nursery</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">4</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">01/04/2015 to 31/03/2016</div>
        </div>
      </div>

    </div>

    <!--Row 5-->
    <div class="row">
      <div class="col-4">
        <div class="card">
         <div class="card-body">KG</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">5</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">01/04/2014 to 31/03/2015</div>
        </div>
      </div>

    </div>

    <!--Row 6-->
    <div class="row">
      <div class="col-4">
        <div class="card">
         <div class="card-body">Grade 1</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">6</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">01/04/2013 to 31/03/2014</div>
        </div>
      </div>

    </div>

    <!--Row 7-->
    <div class="row">
      <div class="col-4">
        <div class="card">
         <div class="card-body">Grade 2</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">7</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">01/04/2012 to 31/03/2013</div>
        </div>
      </div>

    </div>

    <!--Row 8-->
    <div class="row">
      <div class="col-4">
        <div class="card">
         <div class="card-body">Grade 3</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">8</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">01/04/2011 to 31/03/2012</div>
        </div>
      </div>

    </div>

    <!--Row 9-->
    <div class="row">
      <div class="col-4">
        <div class="card">
         <div class="card-body">Grade 4</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">9</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">01/04/2010 to 31/03/2011</div>
        </div>
      </div>

    </div>

    <!--Row 10-->
    <div class="row">
      <div class="col-4">
        <div class="card">
         <div class="card-body">Grade 5</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">10</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">01/04/2009 to 31/03/2010</div>
        </div>
      </div>

    </div>

    <!--Row 11-->
    <div class="row">
      <div class="col-4">
        <div class="card">
         <div class="card-body">Grade 6</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">11</div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
         <div class="card-body">01/04/2008 to 31/03/2009</div>
        </div>
      </div>

    </div>

    <br>
  </div>

  <div class="container text-center">
    <button type="button" class="btn">Send an Inquiry</button>
  </div><br>
<!--  TODO Add admission form as a popup for send inquiry-->
<!--  <admission-input-form></admission-input-form>-->


</div>
