@import "../../../assets/styles/variables.scss";

.admission-intro-text {
  padding: 3em 0;
  width: 100%;
  background: $white-primary;
}

.intro-img {
  width: 80%;
  height: 10em;
}

.admission-applications{
  color: white;
  background-color: #8a2b3d;
}

.application-title{
  text-align: center;

  .h2{
    font-weight: 900;
  }


}

.card{
  background-color: gainsboro;
  color: black;
  border-radius: 0%;
  .card-body{
    text-align: center;
    font-size: small;
    font-weight: 700;
  }
}

@media only screen and (max-width: 950px) {
  .card-body{
    padding: 0px;
  }
}

.row{
  margin-bottom: 0.75rem;
}

span{
  font-size: 10px;
}

.col-4{
  padding-left: 5px;
  padding-right: 5px;
}

.btn{
  background-color: #8a2b3d;
  border: 2px solid white;
  color: white;
  font-weight: 700;
  border-radius: 0%;
}
