<app-text-info-block [title]="' ABOUT US'" [text]="text"></app-text-info-block>

<div class="glance-component">
  <div class="rocketImage"></div>
  <div class="container">

    <h3>At a Glance</h3>
    <div class="row mt-5">
      <div *ngFor="let item of aboutUsItems" class="col-md-3">
        <div class="glance-item">
          <p>{{ item.info }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<app-image-card-text [image]="image" [content]="imageCardContent"></app-image-card-text>-->
<app-more-to-explore [imageList]="imageList"></app-more-to-explore>
